<!-- DISPLAY_HEADER -->

<div class="newsblock">
	<!-- LOOP $news -->
	<div class="title" onclick="switch_collapse('article_{ $news:id }');" style="cursor:pointer">{ $news:title }</div>
		<div class="content"<!-- IF { $news:collapse } --> style="display: none"<!-- ENDIF --> id="article_{ $news:id }">
			{ $news:content }
			<br clear="all">
			<p>
				<!-- IF { $news:full_story } --><a href="{ $news:link_content }" > { $L_READMORE } ..</a><!-- ENDIF -->
				<hr />
				<div style="float: left; Top: -2.5em;">
					<a onclick="window.open('{ $news:link_print }', 'print{ $news:id }', 'status=no,toolbar=no,scrollbars=yes,titlebar=no,menubar=no,width=600,height=400'); return false;" href="{ $news:link_print }" ><img src="themes/viperal/images/print.png" alt="" /></a>
					<a onclick="window.open('{ $news:link_send }', 'send{ $news:id }', 'status=no,toolbar=no,scrollbars=yes,titlebar=no,menubar=no,width=600'); return false;" href="{ $news:link_send }" ><img src="themes/viperal/images/mail.png" alt="" /></a>
				</div>
				<div style="float: right; Top: -2.5em;">{ $L_POSTED } { $news:time }<br/>
					<!-- IF { $news:link_poster } -->By: <a href="{ $news:link_poster }">{ $news:poster } </a><!-- ELSE -->By: { $news:poster } <!-- ENDIF -->
				</div>
			</p>
		</div>
	<br /><br />
	<!-- ENDLOOP  -->
	<p align="center"> { $NEWS_PAGINATION }</p>
</div>
<!-- DISPLAY_FOOTER -->