<!-- DISPLAY_HEADER -->

<!-- INCLUDE modules/control_panel/ucp_header.html -->

<form method="post" action="{ $S_UCP_ACTION }">

<table class="tablebg" width="100%" cellspacing="1" cellpadding="0" border="0">
	<tr>
		<th height="25">{ $L_REGISTRATION }</th>
	</tr>
	<tr>
		<td class="row1">
		{ $S_HIDDEN_FIELDS }
		<!-- IF { $S_SHOW_COPPA } -->
			<div align="center">
				<br />{ $L_COPPA_BIRTHDAY }<br /><br />
				<a href="{ $U_COPPA_NO }">{ $L_COPPA_NO }</a> :: <a href="{ $U_COPPA_YES }">{ $L_COPPA_YES }</a><br /><br />
			</div>
		<!-- ELSE -->
			<div style="padding: 10px" class="genmed"><br />{ $L_TERMS_OF_USE_CONTENT }<br /><br /></div>
			<div align="center">
				<input class="button" type="submit" name="agreed" value="{ $L_AGREE }"><br /><br />
				<input class="button" type="submit" name="not_agreed" value="{ $L_NOT_AGREE }">
			</div>
		<!-- ENDIF -->
		</td>
	</tr>
</table>
</form>

<!-- INCLUDE modules/control_panel/ucp_footer.html -->

<!-- DISPLAY_FOOTER -->