<!-- DISPLAY_HEADER -->

<!-- INCLUDE modules/control_panel/ucp_header.html -->

<table class="tablebg" width="100%" cellpadding="5" cellspacing="1">
	<tr class="row2">
		<td width="33%"><a href="{ $PREVIOUS_DAY_LINK }">{ $L_PREVIOUS_DAY }</a></td>
		<td width="33%" align="center"><div style="font-size: 120%"><b>{ $THIS_DAY }</b></div></td>
		<td width="33%" align="right"><a href="{ $NEXT_DAY_LINK }">{ $L_NEXT_DAY }</a></td>
	</tr>
</table>

<div style="padding: 2px;"></div>
<table width="100%" cellpadding="5" cellspacing="1">
	<tr>
		<td width="50%" valign="top">
			<table class="tablebg" width="100%" cellspacing="1">
				<tr>
					<th colspan="3">{ $L_EVENTS }</th>
				</tr>
			<!-- IF isset({ $events }) -->
				<tr>
					<td class="row3" colspan="3" style="text-align:center; padding:5px;">There are currently % Events Scheduled</td>
				</tr>
				<tr>
					<th>{ $L_EVENT }</th>
					<th>{ $L_STARTS }</th>
					<th>{ $L_ENDS }</th>
				</tr>
				<!-- LOOP $events -->
				<tr class="row1">
					<td valign="top" style="padding:5px; width:50%;" onclick="window.open('{ $events:LINK }','_event{ $events:ID }','width=500,height=400,scrollbars=yes');"><a href="{ $events:LINK }" onclick="window.open('{ $events:LINK }','_event{ $events:ID }','width=500,height=400,scrollbars=yes');return false;" target="_event{ $events:ID }">{ $events:TITLE }</a></td>
					<td align="center">{ $events:START_TIME }</td>
					<td align="center">{ $events:END_TIME }</td>
				</tr>
				<!-- ENDLOOP -->
			<!-- ELSE -->
					<td class="row1" align="center" style="padding:5px"><b>{ $L_NO_EVENTS }</b></td>
			<!-- ENDIF -->
				<tr>
					<th colspan="3"></th>
				</tr>
			
			</table>
		</td>
		<td width="50%" valign="top">
			<table class="tablebg" width="100%" cellspacing="1">
				<tr>
					<th width="14%">{ $L_SUNDAY }</th>
					<th width="14%">{ $L_MONDAY }</th>
					<th width="14%">{ $L_TUESDAY }</th>
					<th width="14%">{ $L_WEDNESDAY }</th>
					<th width="14%">{ $L_THURSDAY }</th>
					<th width="14%">{ $L_FRIDAY }</th>
					<th width="14%">{ $L_SATURDAY }</th>
				</tr>
				<!-- LOOP $days -->
			
				<!-- IF ({ $days:#LOOP_INDEX } % 7) == 0 --></tr><tr style="height:40px"><!-- ENDIF -->
			
				<!-- IF { $days:NUMBER } -->
					<!-- IF { $days:LINK } -->
						<td class="row1" valign="top" onmouseover="this.className='row2'" onmouseout="this.className='row1'" onclick="location.href='{ $days:LINK }'" style="padding:5px"><a href="{ $days:LINK }">{ $days:NUMBER }</a></td>
					<!-- ELSE -->
						<td class="row3" valign="top" style="padding:5px">{ $days:NUMBER }</td>
					<!-- ENDIF -->
				<!-- ELSE -->
					<td class="row2" style="padding:5px"></td>
				<!-- ENDIF -->
			
				<!-- ENDLOOP -->
				
				<tr>
					<th colspan="7"></th>
				</tr>
			
			</table>
		</td>
	</tr>
</table>

<!-- INCLUDE modules/control_panel/ucp_footer.html -->

<!-- DISPLAY_FOOTER -->