<!-- DISPLAY_HEADER -->

{ $THEME_TABLE_OPEN }

<form action="{ $B_ACTION }" method="post">
	<table class="tablebg" align="center" border="0" cellpadding="4" cellspacing="1" width="100%">
		<tbody>
			<!-- IF { $ADMIN_PAGE_ERROR } -->
			<tr> 
				<td class="row2" align="center" colspan="3">
					<font class="error">{ $ADMIN_PAGE_ERROR }</font>
				</td>
			</tr>
			<!-- ENDIF -->
			<tr> 
				<th colspan="3" height="28" valign="middle">{ $ADMIN_PAGE_NAME }</th>
			</tr>
			<tr> 
				<td class="row1" width="20%"><b class="genmed">{ $L_TITLE }: </b></td>
				<td class="row2" colspan="2"><input class="post" name="b_title" size="40" maxlength="100" value="{ $ADMIN_PAGE_TITLE }" type="text"></td>
			</tr>
			<tr> 
				<td class="row1"><b class="genmed">{ $L_ACTIVE }: </b></td>
				<td class="row2" colspan="2"></td>
			</tr>
		</tbody>
	</table>
<br />
	<table class="tablebg" align="center" border="0" cellpadding="4" cellspacing="1" width="100%">
		<tbody>
			<tr>
		<!-- LOOP $ADMIN_PAGE_BLOCKS_ARRAY -->

			<!-- IF { $ADMIN_PAGE_BLOCKS_ARRAY:#LOOP_NUMBER } % 2 -->
			</tr><tr>
			<!-- ENDIF -->
				<td class="row1" width="20%"><b class="genmed">{ $ADMIN_PAGE_BLOCKS_ARRAY:name }: </b></td>
				<td class="row2" colspan="2"><input type="checkbox" class="checkbox" name="blocks_array[]" value="{ $ADMIN_PAGE_BLOCKS_ARRAY:value }"<!-- IF { $ADMIN_PAGE_BLOCKS_ARRAY:checked } --> checked="checked"><!-- ENDIF --></td>
		<!-- ENDLOOP $ADMIN_PAGE_BLOCKS_ARRAY -->
			</tr>
		</tbody>
	</table>
	<table class="tablebg" align="center" border="0" cellpadding="4" cellspacing="1" width="100%">
		<tbody>
			<tr>
				<td class="cat" colspan="3" align="center" height="28">
					<input class="button" name="submit" value="Submit" type="submit" />&nbsp;&nbsp;<input class="button" value="Reset" name="reset" type="reset" />
				</td>
			</tr>
		</tbody>
	</table>
</form>

{ $THEME_TABLE_CLOSE }

<!-- DISPLAY_FOOTER -->