<!-- DISPLAY_HEADER -->

{ $THEME_TABLE_OPEN }
<table border="0" class="tablebg" cellpadding="4" cellspacing="1" width="100%">
	<tbody>
		<tr>
			<td align="center" class="row1" onmouseover="this.className='row2'" onmouseout="this.className='row1'" onclick="location.href='{ $B_SEARCH }'; return false;"><a href="{ $B_SEARCH }">{ $L_SEARCH_FOR_MODULE }</a></td>
			<td align="center" class="row1">&nbsp;</td>
			<td align="center" class="row1">&nbsp;</td>
		</tr>
	</tbody>
</table>
<div style="padding: 3px"></div>
<table class="tablebg" cellpadding="4" cellspacing="1" width="100%">
    <tbody>
		<tr>
			<th width="50%" align="center"><b>{ $L_TITLE }</b></th>
			<th align="center"><b>{ $L_STATUS }</b></td>
			<th align="center"><b>{ $L_FUNCTIONS }</b></th>
		</tr>
	<!-- IF isset({ $normal_modules }) -->
    	<tr>
			<td class="cat" colspan="4"><b class="gensmall">Normal</b></td>
		</tr>
		<tr>
			<td class="spacer" colspan="4" height="7"></td>
		</tr>
		<!-- LOOP $normal_modules -->
		<tr>
			<td height="24" class="row1" onmouseover="this.className='row2'" onmouseout="this.className='row1'" onclick="location.href='{ $normal_modules:LINK_EDIT }'">
				<a href="{ $normal_modules:LINK_EDIT }">{ $normal_modules:TITLE }</a>
				<!-- IF { $normal_modules:ERROR } --><br/><span style="font-size: 90%; color: red;">{ $normal_modules:ERROR }</span><!-- ENDIF -->
			</td>
		<!-- IF { $normal_modules:INSTALLED } -->
			<!-- IF { $normal_modules:ACTIVE } -->
			<td align="center" class="row2" onmouseover="this.className='row1'" onmouseout="this.className='row2'" onclick="location.href='{ $normal_modules:LINK_ACTIVE }'; return false;">
				<a href="{ $normal_modules:LINK_ACTIVE }">{ $normal_modules:CHANGE }</a>
			</td>
			<!-- ELSE -->
			<td align="center" class="row1" onmouseover="this.className='row2'" onmouseout="this.className='row1'" onclick="location.href='{ $normal_modules:LINK_ACTIVE }'; return false;">
				<a href="{ $normal_modules:LINK_ACTIVE }">{ $normal_modules:CHANGE }</a>
			</td>
			<!-- ENDIF -->
			<td nowrap="nowrap" class="row1" align="center">
				<!-- IF { $normal_modules:LINK_EDIT } -->
					<a href="{ $normal_modules:LINK_EDIT }">{ $L_EDIT }</a> |
				<!-- ENDIF -->
				<!-- IF { $normal_modules:LINK_AUTH } -->
					<a href="{ $normal_modules:LINK_AUTH }">{ $L_PERMISSIONS }</a>
				<!-- ENDIF -->
				<!-- IF { $normal_modules:LINK_INSTALLER } -->
					 | <a href="{ $normal_modules:LINK_INSTALLER }">{ $L_UNINSTALL }</a>
				<!-- ENDIF -->
			</td>
		<!-- ELSE -->
			<td align="center" class="row1">
				{ $L_NOT_INSTALLED }
			</td>
			<td nowrap="nowrap" class="row1" align="center">
				<a href="{ $normal_modules:LINK_INSTALLER }">{ $L_INSTALL }</a> |
				<a href="{ $normal_modules:LINK_REMOVE }">{ $L_REMOVE }</a>
			</td>
		<!-- ENDIF -->
		</tr>
		<tr>
			<td class="spacer" colspan="4" height="7"></td>
		</tr>
		<!-- ENDLOOP -->
	<!-- ENDIF -->
	<!-- IF isset({ $system_modules }) -->
    	<tr>
			<td class="cat" colspan="4"><b class="gensmall">System Modules</b></td>
		</tr>
		<tr>
			<td class="spacer" colspan="4" height="5"></td>
		</tr>
		<!-- LOOP $system_modules -->
		<tr>
			<td colspan="3" height="24" class="row1" onmouseover="this.className='row2'" onmouseout="this.className='row1'" onclick="location.href='{ $system_modules:LINK_EDIT }'; return false;">
				<a href="{ $system_modules:LINK_EDIT }">{ $system_modules:TITLE }</a>
			</td>
			<!-- IF { $S_LINK_ADMIN_AUTH } -->
			<td nowrap="nowrap" class="row1" align="center">
				<a href="{ $system_modules:LINK_ADMIN_AUTH }">{ $L_ADMIN_PERMISSIONS }</a>
			</td>
			<!-- ENDIF -->
		</tr>
		<tr>
			<td class="spacer" colspan="4" height="5"></td>
		</tr>
		<!-- ENDLOOP -->
	<!-- ENDIF -->
	</tbody>
</table>

{ $THEME_TABLE_CLOSE }

<!-- DISPLAY_FOOTER -->