<table border="0" cellpadding="4" cellspacing="1" width="100%">
	<tbody>
		<tr>
			<td width="80%" valign="top">
				<table class="tablebg" border="0" cellpadding="4" cellspacing="1" width="100%">
					<tbody>
						<tr>
							<th colspan="4" align="center"><b>System Info</b></td>
						</tr>
						<tr class="row1">
							<td width="20%">
								{ $L_TOTAL_USERS }
							</td>
							<td>
								{ $COUNT_USERS }
							</td>
							<td width="20%">
								{ $L_TOTAL_BOTS }
							</td>
							<td>
								{ $COUNT_BOTS }
							</td>
						</tr>
						<tr class="row1">
							<td width="20%">
								{ $L_TOTAL_USERS }
							</td>
							<td>
								{ $COUNT_USERS }
							</td>
							<td width="20%">
								{ $L_TOTAL_BOTS }
							</td>
							<td>
								{ $COUNT_BOTS }
							</td>
						</tr>
						<tr class="row1">
							<td colspan="4">
								<img src="images/add_user.png" alt="{ $L_ADD_USER }" title="{ $L_ADD_USER }" border="0">
							</td>
						</tr>
					</tbody>
				</table>
			</td>
			<td width="20%" valign="top">
				<table class="tablebg" border="0" cellpadding="4" cellspacing="1" width="100%">
					<tbody>
						<tr>
							<th width="25%" align="center"><b>Options</b></td>
						</tr>
						<tr>
							<td align="center" class="row1" onmouseover="this.className='row2'" onmouseout="this.className='row1'" onclick="location.href='{ $LINK_USER_INDEX }'; return false;">
								<a href="{ $LINK_USER_INDEX }" title="{ $L_USERS_INDEX }">{ $L_USERS_INDEX }</a>
							</td>
						</tr>
						<tr>
							<td align="center" class="row1" onmouseover="this.className='row2'" onmouseout="this.className='row1'" onclick="location.href='{ $LINK_BOTS }'; return false;">
								<a href="{ $LINK_VIEW_BOTS }" title="{ $L_VIEW_BOTS }">{ $L_VIEW_BOTS }</a>
							</td>
						</tr>
						<tr>
							<td align="center" class="row1" onmouseover="this.className='row2'" onmouseout="this.className='row1'" onclick="location.href='{ $LINK_VIEW_DISABLED }'; return false;">
								<a href="{ $LINK_VIEW_DISABLED }" title="{ $L_VIEW_DISABLED }">{ $L_VIEW_DISABLED }</a>
							</td>
						</tr>
						<tr>
							<td align="center" class="row1" onmouseover="this.className='row2'" onmouseout="this.className='row1'" onclick="location.href='{ $LINK_VIEW_UNACTIVATED }'; return false;">
								<a href="{ $LINK_VIEW_UNACTIVATED }" title="{ $L_VIEW_UNACTIVATED }">{ $L_VIEW_UNACTIVATED }</a>
							</td>
						</tr>
						<tr>
							<td align="center" class="row1" onmouseover="this.className='row2'" onmouseout="this.className='row1'" onclick="location.href='{ $LINK_ADD_USER }'; return false;">
								<a href="{ $LINK_ADD_USER }" title="{ $L_VIEW_BOTS }">{ $L_VIEW_BOTS }</a>
							</td>
						</tr>
					</tbody>
				</table>
			</td>
		</tr>
    </tbody>
</table>