{ if $ERROR }
	{php} OpenTable(); {/php}
		<div align="center"><font color="#990000">{ $ERROR }</font></div>
	{php} CloseTable(); {/php}
{ /if }

{php} OpenTable(); {/php}

<form method="post" action="{ $ACTION }" >
	<div align="center">{ $L_FEEDBACKNOTE }</div><br />
    <table><tr><td style="padding: 10px;" valign="top"><label><b>{ $L_YOURNAME }:</b></label><br />
    <input type="text" name="sender_name" value="{ $SENDER_NAME }" size="30" /><br />
    <label><b>{ $L_YOUREMAIL }:</b></label><br />
    <input type="text" name="sender_email" value="{ $SENDER_EMAIL }" size="30" /><br />
    <em><font color="#006699">(Your IP: { $IP } will be logged!)</font></em><br /><br />
    <input type="submit" name="contact" value="{ $L_SUBMIT }" />
    <input type="submit" name="preview" value="{ $L_PREVIEW }" /><br /></td>
	
	<td><strong>{ $L_MESSAGE }:</strong><br />
    <textarea name="message" id="message" style="width:90%; height:200px" cols="63" rows="15">{ $MESSAGE }</textarea><br /><br />
    </td></table>
</form>

{php} CloseTable(); {/php}