{ $A_TABLE_OPEN }

<table class="tablebg" width="100%" cellpadding="1" cellspacing="1">
	<tbody>
		<tr>
			<th width="20%">{ $L_POSTER }</th>
			<th width="80%" colspan="2">{ $L_MESSAGE }</th>
		</tr>
		<tr>
			<td class="spacer" colspan="2" height="7"></td>
		</tr>
		<!-- LOOP $quick_message -->
		<tr style="min-height: 100px;">
			<td class="row1" align="center" valign="top">
				<!-- IF { $quick_message:USER_LINK }  -->
					<a href="{ $quick_message:USER_LINK } "><b> { $quick_message:USER_NAME } </b></a><br /><br />
				<!-- ELSE -->
					<b> { $quick_message:USER_NAME } </b>
				<!-- ENDIF -->
			</td>
			<td class="row1">
				<span class="gensmall">{ $quick_message:TIME }</span>
				<!-- IF { $quick_message:DELETE_LINK } -->
					<a href="{ $quick_message:DELETE_LINK } "><b>  { $L_DELETE }</b></a>
				<!-- ENDIF -->
				<hr/>
				<p>
					{ $quick_message:MESSAGE }
				</p>
			</td>
		</tr>
		<tr>
			<td class="spacer" colspan="2" height="7"></td>
		</tr>
		<!-- LOOPELSE -->
			<tr class="row2">
				<td colspan="2">
					{ $ERROR }
				</td>
			</tr>
		<!-- ENDLOOP -->
		<!-- IF { $Q_MESSAGE_PAGINATION } -->
		<tr class="row3">
			<td style="padding: 5px;" valign="middle" colspan="2">
				<div style="padding-right: 5px; text-align: right;" class="numbering">[ <!-- IF { $Q_MESSAGE_PREVIOUS_PAGE } --><a href="{ $Q_MESSAGE_PREVIOUS_PAGE }">{ $L_PREVIOUS }</a>&nbsp;|&nbsp;<!-- ENDIF --> { $Q_MESSAGE_PAGINATION } <!-- IF { $Q_MESSAGE_NEXT_PAGE } -->&nbsp;|&nbsp;<a href="{ $Q_MESSAGE_NEXT_PAGE }">{ $L_NEXT }</a><!-- ENDIF --> ]</div>
			</td>
		</tr>
		<!-- ENDIF -->
	</tbody>
</table>

{ $A_TABLE_CLOSE }