#php_flag register_globals 0
#php_flag register_argc_argv 0
#php_flag magic_quotes_gpc 0

<LimitExcept GET PUT POST>
	order allow,deny
	allow from all
</LimitExcept>

ErrorDocument 400 /error.php
ErrorDocument 401 /error.php
ErrorDocument 403 /error.php
ErrorDocument 404 /error.php
ErrorDocument 500 /error.php

Options -Indexes