{php} OpenTable(); {/php}

<table class="tablebg" width="100%" cellpadding="4px" cellspacing="1px">
	<tr>
		<th colspan="2">Server Status</th>
	</tr>
	<tr>
		<td colspan="2"><div style="text-align: center; font-size: 120%;">Please Select a server version.<br /><span style="font-weight: bold;"> Please not that a may take upto 5 secs to display it current status</span></div></td>
	</tr>
	<tr style="height:32px;">
		<td class="row1"><div style="text-align: center; font-size: 120%; font-weight: bold;"><a href="{ $SERVER_LINK_12 }"> 0.12 </a><br /> [ { $SERVER_12 } Servers in database ]</div></th>
		<td class="row1"><div style="text-align: center; font-size: 120%; font-weight: bold;"><a href="{ $SERVER_LINK_11 }"> 0.11 </a><br /> [ { $SERVER_11 } Servers in database ]</div></th>
	</tr>
	<tr style="height:32px;">
		<td class="row1"><div style="text-align: center; font-size: 120%; font-weight: bold;"><a href="{ $SERVER_LINK_10 }"> 0.10 </a><br /> [ { $SERVER_10 } Servers in database ]</div></th>
		<td colspan="2" class="row1"><div style="text-align: center; font-size: 120%; font-weight: bold;"><a href="{ $SERVER_LINK_9 }"> 0.9 </a><br /> [ { $SERVER_9 } Servers in database ]</div></th>
	</tr>
	<tr >
		<td colspan="2"><div style="text-align: center; font-size: 120%; font-weight: bold;">To add your sever please post in forums</div></td>
	</tr>
</table>

{php} CloseTable(); {/php}