<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
<title>Viperal: News</title>
<link rel="stylesheet" href="{ $A_STYLESHEET }" type="text/css" />
<meta http-equiv="content-Type" content="text/html; charset={ $SITE_CHARSET }" />
</head>

<body>
	<div class="newsblock">
		<div class="title">{ $NEWS_TITLE }</div>
		<div class="content">
		<!-- IF { $NEWS_FULL_STORY } -->{ $NEWS_FULL_STORY }<!-- ELSE -->{ $NEWS_INTRO }<!-- ENDIF -->
		<br /><br />

		<hr />
		
		 <div style="text-align: left; margin-left: 60%">Posted: { $NEWS_TIME }<br/>
		 <!-- IF { $NEWS_POSTER_LINK } -->By: <a href="{ $NEWS_POSTER_LINK }">{ $NEWS_POSTER } </a><!-- ELSE -->By: { $NEWS_POSTER }<!-- ENDIF --></div></div>
		<br />
		<div style="text-align: center;">
			<a href="#" onclick="javascript:window.print(); return false" title="Print">{ $L_PRINT }</a><br/>
			<a href='javascript:window.close();'><span class="small"> { $L_CLOSE_WINDOW }</a>
		</div>
	</div>
</body>
</html>