{ if $S_DISPLAY_JUMPBOX }

<form method="post" name="jumpbox" action="{$S_JUMPBOX_ACTION}"{literal} onsubmit="if(document.jumpbox.f.value == -1){return false;}">{/literal}

<table cellspacing="0" cellpadding="0" border="0">
	<tr>
		<td nowrap="nowrap"><span class="gensmall">{$L_JUMP_TO}{literal}:</span>&nbsp;<select name="f" onchange="if(this.options[this.selectedIndex].value != -1){ forms['jumpbox'].submit() }">{/literal}

{ if $jumpbox_forums }
{section name=jumpbox_forumsloop loop=$jumpbox_forums}
	{ if $smarty.section.jumpbox_forumsloop.index eq 1 }<option value="-1">------------------</option>{ /if }
	<option value="{$jumpbox_forums[jumpbox_forumsloop].FORUM_ID}"{$jumpbox_forums[jumpbox_forumsloop].SELECTED}>
	
	{section name=jumpbox_PADDINGloop loop=$jumpbox_forums[jumpbox_forumsloop].PADDING}
		{section name=jumpbox_forums_levelloop loop=$jumpbox_forums_level}
			{ if $smarty.section.jumpbox_forumsloop.index eq $jumpbox_forums_level[jumpbox_forums_levelloop].SECTION }
		&nbsp; &nbsp;
			{ /if }
		{ /section }
	{ /section }
	
	{$jumpbox_forums[jumpbox_forumsloop].FORUM_NAME}</option>
{ /section }
{ /if }
		</select>&nbsp;<input class="btnlite" type="submit" value="{$L_GO}" /></td>
	</tr>
</table>

</form>
{ /if }