{ include file='modules/Forums/mcp_header.html' }

<form method="post" name="mcp" action="{$S_MCP_ACTION}"><table class="tablebg" width="100%" cellspacing="1">
	<tr>
		<td class="cat" colspan="6" align="center"><span class="gensmall">{$L_DISPLAY_TOPICS}:</span> {$S_SELECT_SORT_DAYS}&nbsp;<span class="gensmall">{$L_SORT_BY}</span> {$S_SELECT_SORT_KEY} {$S_SELECT_SORT_DIR}&nbsp;<input class="btnlite" type="submit" name="sort" value="{$L_GO}" /></span></td>
	</tr>
	<tr>
		<th width="4%" nowrap="nowrap">&nbsp;</th>
		<th nowrap="nowrap">&nbsp;{$L_TOPICS}&nbsp;</th>
		<th width="8%" nowrap="nowrap">&nbsp;{$L_REPLIES}&nbsp;</th>
		<th width="17%" nowrap="nowrap">&nbsp;{$L_LAST_POST}&nbsp;</th>
		<th width="5%" nowrap="nowrap">&nbsp;{$L_MARK}&nbsp;</th>
	</tr>
	{section name=topicrowloop loop=$topicrow}
	<tr>
		<td class="row1" width="25" align="center">{$topicrow[topicrowloop].TOPIC_FOLDER_IMG}</td>
		{*
		{ if $S_TOPIC_ICONS }
		 <td class="row1" width="25" align="center">{$topicrow[topicrowloop].TOPIC_ICON_IMG}</td>
		{ /if }
		*}
		<td class="row1">
			{ if $topicrow[topicrowloop].S_SELECT_TOPIC }
				<span class="genmed">[ <a href="{$topicrow[topicrowloop].U_SELECT_TOPIC}">{$L_SELECT}</a> ]&nbsp;</span>
			{ /if }
			{ if $topicrow[topicrowloop].S_TOPIC_UNAPPROVED }
				<a href="{$topicrow[topicrowloop].U_MCP_QUEUE}">{$UNAPPROVED_IMG}</a>&nbsp;
			{ /if }
			{ if $topicrow[topicrowloop].S_TOPIC_REPORTED }
				<a href="{$topicrow[topicrowloop].U_MCP_REPORT}">{$REPORTED_IMG}</a>&nbsp;
			{ /if }
			<p class="topictitle">{$topicrow[topicrowloop].NEWEST_POST_IMG} {$topicrow[topicrowloop].ATTACH_ICON_IMG} <a href="{$topicrow[topicrowloop].U_VIEW_TOPIC}">{$topicrow[topicrowloop].TOPIC_TITLE}</a></p>
		</td>
		<td class="row1" width="50" align="center"><p class="topicdetails">{$topicrow[topicrowloop].REPLIES}</p></td>
		<td class="row1" width="120" align="center"><p class="topicdetails">{$topicrow[topicrowloop].LAST_POST_TIME}</p></td>
		<td class="row2" align="center"><input type="checkbox" name="topic_id_list[]" value="{$topicrow[topicrowloop].TOPIC_ID}" {$topicrow[topicrowloop].S_TOPIC_CHECKED}/></td>

	</tr>
	{ sectionelse }
	<tr>
		<td class="row1" colspan="8" height="28" align="center"><p class="gen">{$L_NO_TOPICS}</p></td>
	</tr>
	{ /section }
	<tr>
		<td class="cat" colspan="6" align="right">
			<select name="mode">
				{ if $S_CAN_DELETE }<option value="delete_topic">{$L_DELETE}</option>{ /if }
				{ if $S_CAN_MOVE }<option value="move">{$L_MOVE}</option>{ /if }
				{ if $S_CAN_FORK }<option value="fork">{$L_FORK}</option>{ /if }
				{ if $S_CAN_LOCK }<option value="lock">{$L_LOCK}</option><option value="unlock">{$L_UNLOCK}</option>{ /if }
				{ if $S_CAN_SYNC }<option value="resync">{$L_RESYNC}</option>{ /if }
			</select>
			<input class="btnmain" type="submit" value="{$L_SUBMIT}" />
		</td>
	</tr>
</table>
</form>

{ include file='modules/Forums/mcp_footer.html' }