<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Error</title>
</head>
<body style="background: url(/bg.gif);">

<table style="position: absolute; left: 25%; top: 25%;">
	<tr>
		<td>
			<img src="/paladin.png" />
		</td>
		<td valign="top">
			{ $MESSAGE_TEXT }
		</td>
	</tr>
</table>


</body>
</html>