<!-- IF { $PAGINATION } -->
<table width="80%" align="right" cellspacing="1">
	<tr>
		<td class="nav" valign="middle" nowrap="nowrap">&nbsp;{ $PAGE_NUMBER }<br /></td>
		<td class="gensmall" nowrap="nowrap">&nbsp;[ { $TOTAL } ]&nbsp;</td>
		<td class="gensmall" width="100%" align="right" nowrap="nowrap">
		<!-- IF { $PAGINATION } --><b>{$L_GOTO_PAGE}&nbsp;{ $PAGINATION }</b><!-- ENDIF --></td>
	</tr>
</table>
<br />
<!-- ENDIF -->

<br clear="all" />

<table class="tablebg" width="100%" cellspacing="1" cellpadding="0">
	<tr>
		<td class="row1">
			<p class="breadcrumbs"><a href="{ $U_INDEX }">{ $L_INDEX }</a><!-- LOOP $navlinks --> &#187; <a href="{ $navlinks:U_VIEW_FORUM }">{ $navlinks:FORUM_NAME }</a><!-- ENDLOOP --></p>
			<p class="datetime">{ $S_TIMEZONE }</p>
		</td>
	</tr>
</table>

<br clear="all" />

<div style="float: right"><!-- IF { $S_DISPLAY_JUMPBOX } --><!-- INCLUDE modules/Forums/jumpbox.html --><!-- ENDIF --></div>

	<br clear="all" />

<!-- INCLUDE modules/forums/overall_footer.html -->