{ $A_TABLE_OPEN }

<table width="100%" cellspacing="0">
	<tr>
		<td class="genmed"><a href="{ $U_LOGIN_LOGOUT }"><img src="{ $T_IMAGE_PATH }icon_mini_login.gif" width="12" height="13" border="0" alt="{ $L_LOGIN_LOGOUT }" /> { $L_LOGIN_LOGOUT }</a>&nbsp;
		<!-- IF { $S_USER_LOGGED_IN } --><!-- IF { $S_DISPLAY_PM } --> &nbsp;<a href="{$U_PRIVATEMSGS}"><img src="{ $T_IMAGE_PATH }icon_mini_message.gif" width="12" height="13" border="0" alt="{ $L_PRIVATE_MESSAGES }" /> { $PRIVATE_MESSAGE_INFO }
		<!-- IF { $PRIVATE_MESSAGE_INFO_UNREAD } -->, { $PRIVATE_MESSAGE_INFO_UNREAD }<!-- ENDIF --></a><!-- ENDIF -->
		<!-- ELSE -->&nbsp;<a href="{$U_REGISTER}"><img src="{ $T_IMAGE_PATH }icon_mini_login.gif" width="12" height="13" border="0" alt="{ $L_REGISTER }" /> { $L_REGISTER }</a><!-- ENDIF --></td>
		<td class="genmed" align="right"><a href="{ $U_FAQ }"><img src="{ $T_IMAGE_PATH }icon_mini_faq.gif" width="12" height="13" border="0" alt="{ $L_FAQ }" /> { $L_FAQ }</a>
		<!-- IF { $S_DISPLAY_SEARCH } -->&nbsp; &nbsp;<a href="{ $U_SEARCH }"><img src="{ $T_IMAGE_PATH }icon_mini_search.gif" width="12" height="13" border="0" alt="{ $L_SEARCH }" /> { $L_SEARCH }</a><!-- ENDIF -->
		<!-- IF { $S_DISPLAY_MEMBERLIST } -->&nbsp; &nbsp;<a href="{ $U_MEMBERLIST }"><img src="{ $T_IMAGE_PATH }icon_mini_members.gif" width="12" height="13" border="0" alt="{ $L_MEMBERLIST }" /> { $L_MEMBERLIST }</a><!-- ENDIF -->
		<!-- IF { $S_USER_LOGGED_IN } -->&nbsp; &nbsp;<a href="{ $U_PROFILE }"><img src="{ $T_IMAGE_PATH }icon_mini_profile.gif" width="12" height="13" border="0" alt="{ $L_PROFILE }" /> { $L_PROFILE }</a><!-- ENDIF --></td>
	</tr>
</table>
<br/>
<table width="100%" cellspacing="0">
	<tr>
		<td class="gensmall"><!-- IF { $S_USER_LOGGED_IN } -->{$LAST_VISIT_DATE}<!-- ENDIF --></td>
		<td class="gensmall" align="right">{$CURRENT_TIME}<br /></td>
	</tr>
</table>

<br clear="all" />

<table class="tablebg" width="100%" cellspacing="1" cellpadding="0">
	<tr>
			<td class="row1">
				<b>{ $L_OPTIONS }: </b><a href="{ $U_SEARCH_UNANSWERED }">{ $L_SEARCH_UNANSWERED }</a> | <a href="{ $U_SEARCH_ACTIVE_TOPICS}">{ $L_SEARCH_ACTIVE_TOPICS }</a>
					<!-- IF { $S_USER_LOGGED_IN } -->
						| <a href="{ $U_SEARCH_NEW }">{ $L_SEARCH_NEW }</a> | <a href="{ $U_SEARCH_SELF }">{ $L_SEARCH_SELF }</a></span>
					<!-- ENDIF -->
			</td>
		</tr>
	<tr>
		<td class="row1">
			<p class="breadcrumbs"><a href="{ $U_INDEX }">{ $L_INDEX }</a>
			<!-- IF isset({ $navlinks }) -->
				<!-- LOOP $navlinks -->
				&#187; <a href="{ $navlinks:U_VIEW_FORUM }">{ $navlinks:FORUM_NAME }</a>
				<!-- ENDLOOP -->
			<!-- ENDIF --></p>
			<p class="datetime">{ $S_TIMEZONE }</p>
		</td>
	</tr>
</table>

<br clear="all" />