{php} OpenTable(); {/php}

<table class="tablebg" width="100%" cellspacing="1px">
	<tbody>
		<tr>
			<th width="20%">{$L_POSTER}</th>
			<th width="80%" colspan="2">{$L_MESSAGE}</th>
		</tr>
		
		{ if $Q_MESSAGE_PAGINATION }
		<tr>
			<td class="row3" style="padding: 5px;" colspan="3">
				<table width="100%" cellspacing="1">
					<tr>
						<td class="nav" valign="middle" nowrap="nowrap">&nbsp;{$Q_PAGE_NUMBER}<br /></td>
						<td class="gensmall" nowrap="nowrap">&nbsp;[ {$Q_TOTAL_MESSAGES} ]&nbsp;</td>
						<td class="gensmall" width="100%" align="right" nowrap="nowrap">
						[ { if $Q_MESSAGE_PREVIOUS_PAGE }<a href="{$Q_MESSAGE_PREVIOUS_PAGE}">{$L_PREVIOUS}</a>&nbsp;|&nbsp;{ /if } {$Q_MESSAGE_PAGINATION} { if $Q_MESSAGE_NEXT_PAGE }&nbsp;|&nbsp;<a href="{$Q_MESSAGE_NEXT_PAGE}">{$L_NEXT}</a>{ /if } ]
						</td>
					</tr>
				</table>
			</td>
		</tr>
		{ /if }

		{section name=quick_message_loop loop=$quick_message}
		
		<tr>
			<td class="row1" rowspan="2" style="padding: 5px;" align="center" valign="top">
				{ if $quick_message[quick_message_loop].USER_LINK } 
					<a href="{ $quick_message[quick_message_loop].USER_LINK } "><b> { $quick_message[quick_message_loop].USER_NAME } </b></a><br /><br />
					{ $quick_message[quick_message_loop].KARMA_IMG }
				{ else }
					<b> { $quick_message[quick_message_loop].USER_NAME } </b>
				{ /if }
				
			</td>
			{ if $quick_message[quick_message_loop].DELETE_LINK }
				<td class="row1">
			{ else }
				<td class="row1" colspan="2">
			{ /if }
				<span class="gensmall">{ $quick_message[quick_message_loop].TIME }</span>
			</td>
			{ if $quick_message[quick_message_loop].DELETE_LINK }
			<td class="row1">
				<a href="{ $quick_message[quick_message_loop].DELETE_LINK } "><b>  { $L_DELETE }  </b></a>
			</td>
			{ /if }
		</tr>
		<tr>
			<td class="row1" style="padding: 2px;" colspan="2">
				{ $quick_message[quick_message_loop].MESSAGE }
			</td>
		</tr>
		<tr>
			<td class="row3" style="padding: 2px;" colspan="3">
			</td>
		</tr>
		{ sectionelse }
			<tr class="row2">
				<td colspan="2">
					{ $ERROR }
				</td>
			</tr>
		{ /section }
		{ if $Q_MESSAGE_PAGINATION }
		<tr class="row3">
			<td style="padding: 5px;" valign="middle" colspan="2">
				<div style="padding-right: 5px; text-align: right;" class="numbering">[ { if $Q_MESSAGE_PREVIOUS_PAGE }<a href="{$Q_MESSAGE_PREVIOUS_PAGE}">{$L_PREVIOUS}</a>&nbsp;|&nbsp;{ /if } {$Q_MESSAGE_PAGINATION} { if $Q_MESSAGE_NEXT_PAGE }&nbsp;|&nbsp;<a href="{$Q_MESSAGE_NEXT_PAGE}">{$L_NEXT}</a>{ /if } ]</div>
			</td>
		</tr>
		{ /if }
	</tbody>
</table>

{php} CloseTable(); {/php}