{ $A_TABLE_OPEN }

<table class="tablebg" border="0" cellpadding="4" cellspacing="1" width="100%">
    <tbody>
		<tr>
			<th align="center">{$L_TITLE}</th>
			<th align="center" colspan="2">{ $L_POSITION }</th>
			<th align="center">{ $L_STATUS }</th>
			<th align="center">{ $L_FUNCTIONS }</th>
		</tr>
    <!-- IF isset({ $top_admin_messages }) -->
    	<tr>
			<td class="row3" colspan="8"><b class="gensmall">{ $L_TOP_MESSAGES }</b></td>
		</tr>
	<!-- LOOP $top_admin_messages -->
		<tr>
			<td class="row1" onmouseover="this.className='row2'" onmouseout="this.className='row1'" onclick="location.href='{ $top_admin_messages:EDIT_LINK }'">
				<a href="{ $top_admin_messages:EDIT_LINK }" title="{ $L_EDIT }">{ $top_admin_messages:TITLE }</a><br />
				<!-- IF { $top_admin_messages:STARTS } --><br /><b>{ $L_STARTS }: </b>{ $top_admin_messages:STARTS }<!-- ENDIF -->
				<!-- IF { $top_admin_messages:EXPIRES } --><br /><b>{ $L_EXPIRES }: </b>{ $top_admin_messages:EXPIRES }<!-- ENDIF -->
			</td>
			<td class="row1"align="center" >{ $top_admin_messages:LEFT_OPTIONS }</td><td class="row1" align="center">{ $top_admin_messages:RIGHT_OPTIONS }</td>
			<td class="row1" align="center"><a href="{ $top_admin_messages:ACTIVE_LINK }">{ $top_admin_messages:CHANGE }</a></td>
		
			
			<td class="row1" align="center">
			
			
			<!-- IF { $top_admin_messages:EDIT_LINK } -->
			 <a href="{ $top_admin_messages:EDIT_LINK }">{ $L_EDIT }</a>
			<!-- ENDIF -->
			<!-- IF { $top_admin_messages:DELETE_LINK } -->
				 | <a href="{ $top_admin_messages:DELETE_LINK }">{ $L_DELETE }</a>
			<!-- ENDIF --> </td>
		</tr>
		<tr>
			<td class="spacer" colspan="8" height="7"></td>
		</tr>
	<!-- ENDLOOP -->
	<!-- ENDIF -->

	<!-- IF isset({ $bottom_admin_messages }) -->
    	<tr>
			<td class="row3" colspan="8"><b class="gensmall">{ $L_BOTTOM_MESSAGES }</b></td>
		</tr>
	<!-- LOOP $left_admin_blocks -->
		<tr>
			<td class="row1" onmouseover="this.className='row2'" onmouseout="this.className='row1'" onclick="location.href='{ $bottom_admin_messages:EDIT_LINK }'">
				<a href="{ $bottom_admin_messages:EDIT_LINK }" title="{ $L_EDIT }">{ $bottom_admin_messages:TITLE }</a><br />
				<!-- IF { $bottom_admin_messages:STARTS } --><br /><b>{ $L_STARTS }: </b>{ $bottom_admin_messages:STARTS }<!-- ENDIF -->
				<!-- IF { $bottom_admin_messages:EXPIRES } --><br /><b>{ $L_EXPIRES }: </b>{ $bottom_admin_messages:EXPIRES }<!-- ENDIF -->
			</td>
			<td class="row1"align="center" >{ $bottom_admin_messages:LEFT_OPTIONS }</td><td class="row1" align="center">{ $bottom_admin_messages:RIGHT_OPTIONS }</td>
			<td class="row1" align="center"><a href="{ $bottom_admin_messages:ACTIVE_LINK }"><img src="images/{ $bottom_admin_messages:ACTIVE }" alt="{ $bottom_admin_messages:CHANGE }" title="{ $bottom_admin_messages:CHANGE }" border="0"></a></td>
			
			<td class="row1" align="center">[
			<!-- IF { $bottom_admin_messages:EDIT_LINK } -->
			<a href="{ $bottom_admin_messages:EDIT_LINK }">{ $L_EDIT }</a>
			<!-- ENDIF -->
			<!-- IF { $bottom_admin_messages:DELETE_LINK } -->
				| <a href="{ $bottom_admin_messages:DELETE_LINK }">{ $L_DELETE }</a>
			<!-- ENDIF --> </td>
		</tr>
		<tr>
			<td class="spacer" colspan="8" height="7"></td>
		</tr>
	<!-- ENDLOOP -->
	<!-- ENDIF -->
	 		  <tr>
			<td class="cat" colspan="8">
				<form action="{ $B_ACTION }" method="post"><input class="button" value="{ $L_ADD_NEW }" name="regular" type="submit" /></form>
			</td>
		  </tr>
  </tbody>
</table>
{ $A_TABLE_CLOSE }