{ include file='forums/mcp_header.html' }

	{* $Id: mcp_front.html,v 1.5 2004/07/19 20:13:17 acydburn Exp $ *}

{ if $S_SHOW_UNAPPROVED }
	<table class="tablebg" width="100%" cellspacing="1">
	<tr>
		<td class="row3" colspan="5" align="center"><b class="gen">{$L_LATEST_UNAPPROVED}</b></td>
	</tr>
	<tr>
		<th>&nbsp;{$L_FORUM}&nbsp;</th>
		<th>&nbsp;{$L_TOPIC}&nbsp;</th>
		<th>&nbsp;{$L_SUBJECT}&nbsp;</th>
		<th>&nbsp;{$L_AUTHOR}&nbsp;</th>
		<th>&nbsp;{$L_POST_TIME}&nbsp;</th>
	</tr>
	{section name=unapprovedloop loop=$unapproved}
		<tr>
			<td class="row1" width="15%" valign="top"><span class="gen">{ if $unapproved[unapprovedloop].U_FORUM }<a href="{$unapproved[unapprovedloop].U_FORUM}">{$unapproved[unapprovedloop].FORUM_NAME}</a>{ else }{$unapproved[unapprovedloop].FORUM_NAME}{ /if }</span>
			{ if $unapproved[unapprovedloop].U_MCP_FORUM }<br /><span class="gensmall">[ <a href="{$unapproved[unapprovedloop].U_MCP_FORUM}">{$L_MODERATE}</a> ]</span>{ /if }</td>
			<td class="row2" valign="top"><span class="gen"><a href="{$unapproved[unapprovedloop].U_TOPIC}">{$unapproved[unapprovedloop].TOPIC_TITLE}</a></span><br /><span class="gensmall">[ <a href="{$unapproved[unapprovedloop].U_MCP_TOPIC}">{$L_MODERATE}</a> ]</span></td>
			<td class="row1" valign="top"><span class="gen">{$unapproved[unapprovedloop].SUBJECT}</span><br /><span class="gensmall">[ <a href="{$unapproved[unapprovedloop].U_POST_DETAILS}">{$L_VIEW_DETAILS}</a> ]</span></td>
			<td class="row2" align="center" width="15%" nowrap="nowrap" valign="top"><span class="gen">{ if $unapproved[unapprovedloop].U_AUTHOR }<a href="{$unapproved[unapprovedloop].U_AUTHOR}">{$unapproved[unapprovedloop].AUTHOR}</a>{ else }{$unapproved[unapprovedloop].AUTHOR}{ /if }</span></td>
			<td class="row1" align="center" width="15%" nowrap="nowrap" valign="top"><span class="gensmall">{$unapproved[unapprovedloop].POST_TIME}</span></td>
		</tr>
	{ sectionelse }
		<tr>
			<td class="row1" colspan="5" align="center"><span class="gen">{$L_UNAPPROVED_POSTS_ZERO_TOTAL}</span></td>
		</tr>
	{ /section }
	{ if $S_HAS_UNAPPROVED_POSTS }
		<tr>
			<td class="row3" colspan="5"><span class="gensmall">{$L_UNAPPROVED_TOTAL}</span></td>
		</tr>
	{ /if }
	</table>

	<br clear="all" /><br />
{ /if }

{ if $S_SHOW_REPORTS }
	<table class="tablebg" width="100%" cellspacing="1">
	<tr>
		<td class="row3" colspan="5" align="center"><b class="gen">{$L_LATEST_REPORTED}</b></td>
	</tr>
	<tr>
		<th height="28">&nbsp;{$L_FORUM}&nbsp;</th>
		<th>&nbsp;{$L_TOPIC}&nbsp;</th>
		<th>&nbsp;{$L_SUBJECT}&nbsp;</th>
		<th>&nbsp;{$L_REPORTER}&nbsp;</th>
		<th>&nbsp;{$L_REPORT_TIME}&nbsp;</th>
	</tr>
	{section name=reportloop loop=$report}
		<tr>
			<td class="row1" width="15%" valign="top"><span class="gen">{ if $report[reportloop].U_FORUM }<a href="{$report[reportloop].U_FORUM}">{$report[reportloop].FORUM_NAME}</a>{ else }{$report[reportloop].FORUM_NAME}{ /if }</span>{ if $report[reportloop].U_MCP_FORUM }<br /><span class="gensmall">[ <a href="{$report[reportloop].U_MCP_FORUM}">{$L_MODERATE}</a> ]</span>{ /if }</td>
			<td class="row2" valign="top"><span class="gen"><a href="{$report[reportloop].U_TOPIC}">{$report[reportloop].TOPIC_TITLE}</a></span><br /><span class="gensmall">[ <a href="{$report[reportloop].U_MCP_TOPIC}">{$L_MODERATE}</a> ]</span></td>
			<td class="row1" valign="top"><span class="gen">{$report[reportloop].SUBJECT}</span><br /><span class="gensmall">[ <a href="{$report[reportloop].U_POST_DETAILS}">{$L_VIEW_DETAILS}</a> ]</span></td>
			<td class="row2" align="center" width="15%" nowrap="nowrap" valign="top"><span class="gen">{ if $report[reportloop].U_REPORTER }<a href="{$report[reportloop].U_REPORTER}">{$report[reportloop].REPORTER}</a>{ else }{$report[reportloop].REPORTER}{ /if }</span></td>
			<td class="row1" align="center" width="15%" nowrap="nowrap" valign="top"><span class="gensmall">{$report[reportloop].REPORT_TIME}</span></td>
		</tr>
	{ sectionelse }
		<tr>
			<td class="row1" colspan="5" align="center"><span class="gen">{$L_REPORTS_ZERO_TOTAL}</span></td>
		</tr>
	{ /section }
	{ if $S_HAS_REPORTS }
		<tr>
			<td class="row3" colspan="5"><span class="gensmall">{$L_REPORTS_TOTAL}</span></td>
		</tr>
	{ /if }
	</table>

	<br clear="all" /><br />
{ /if }

{ if $S_SHOW_LOGS }
<table class="tablebg" width="100%" cellspacing="1" cellpadding="4" border="0" align="right">
	<tr>
		<td class="row3" colspan="5" align="center"><b class="gen">{$L_LATEST_LOGS}</b></td>
	</tr>
	<tr>
		<th width="15%" height="28" nowrap="nowrap">{$L_USERNAME}</th>
		<th width="12%" nowrap="nowrap">{$L_IP}</th>
		<th width="45%" nowrap="nowrap">{$L_ACTION}</th>
		<th nowrap="nowrap"></th>
		<th width="18%" nowrap="nowrap">{$L_TIME}</th>
	</tr>
	{section name=logloop loop=$log}
	<tr>
		<td class="row1" nowrap="nowrap"><span class="gen">{$log[logloop].USERNAME}</span></td>
		<td class="row1" align="center" nowrap="nowrap"><span class="gen">{$log[logloop].IP}</span></td>
		<td class="row1"><span class="genmed">{$log[logloop].ACTION}</span></td>
		<td class="row1" align="center" nowrap="nowrap"><span class="gensmall">{ if $log[logloop].U_VIEWTOPIC }<a href="{$log[logloop].U_VIEWTOPIC}">{$L_VIEW_TOPIC}</a>{ if $log[logloop].U_VIEWLOGS } | { /if }{ /if }{ if $log[logloop].U_VIEWLOGS }<a href="{$log[logloop].U_VIEWLOGS}">{$L_VIEW_TOPIC_LOGS}</a>{ /if }</span></td>
		<td class="row1" align="center" nowrap="nowrap"><span class="gensmall">{$log[logloop].TIME}</span></td>
	</tr>
	{ sectionelse }
	<tr>
		<td class="row1" colspan="5" align="center"><span class="gen">{$L_NO_ENTRIES}</span></td>
	</tr>
	{ /section }
</table>

<br clear="all" />
{ /if }

{ include file='forums/mcp_footer.html' }