{* $Id: posting_smilies.html,v 1.1 2003/07/24 13:22:39 psotfx Exp $ *}

{ include file='forums/simple_header.html }
{ literal }
<script language="javascript" type="text/javascript">
<!--
function emoticon(text) {
	text = ' ' + text + ' ';

	if (opener.document.forms['post'].message.createTextRange && opener.document.forms['post'].message.caretPos) {
		var caretPos = opener.document.forms['post'].message.caretPos;
		caretPos.text = caretPos.text.charAt(caretPos.text.length - 1) == ' ' ? text + ' ' : text;
		opener.document.forms['post'].message.focus();
	} else {
	opener.document.forms['post'].message.value  += text;
	opener.document.forms['post'].message.focus();
	}
}
//-->
</script>
{ /literal }
<table width="100%" cellspacing="1" cellpadding="4" border="0">
	<tr>
		<td><table class="tablebg" width="95%" cellspacing="1" cellpadding="4" border="0">
			<tr>
				<th height="28">{$L_EMOTICONS}</th>
			</tr>
			<tr>
				<td class="row1" align="center" valign="middle">
				{section name=emoticonloop loop=$emoticon} <a href="javascript:emoticon('{$emoticon[emoticonloop].SMILEY_CODE}')"><img src="{$emoticon[emoticonloop].SMILEY_IMG}" width="{$emoticon[emoticonloop].SMILEY_WIDTH}" height="{$emoticon[emoticonloop].SMILEY_HEIGHT}" border="0" alt="{$emoticon[emoticonloop].SMILEY_DESC}" title="{$emoticon[emoticonloop].SMILEY_DESC}" hspace="2" vspace="2" onclick="emoticon('{$emoticon[emoticonloop].SMILEY_CODE}');return false" /></a> { /section }<br /><a class="nav" href="javascript:window.close();">{$L_CLOSE_WINDOW}</a></td>
			</tr>
		</table></td>
	</tr>
</table>

{ include file='forums/simple_footer.html' }