<!-- DISPLAY_HEADER -->

{ $THEME_TABLE_OPEN }

<!-- INCLUDE admin/users/header.html -->

<table class="tablebg" border="0" cellspacing="1" width="100%">
    <tbody>
		<tr>
			<th colspan="6" align="center">{ $L_INACTIVE_USERS }</th>
		</tr>
		<tr>
			<td colspan="6" class="row2"></td>
		</tr>
		<tr>
			<th width="20px"></th>
			<th>{ $L_USERNAME }</th>
			<th>{ $L_REGISTED }</th>
			<th colspan="3" >{ $L_OPTIONS }</th>
		</tr>
		<tr>
			<td colspan="6" class="row2">{ $L_UNACTIVATED_USERS }</td>
		</tr>
		<!-- LOOP $users_admin -->
		<tr>
			<td height="25" class="row1">
				<input name="mark_id[]" value="{ $users_admin:user_id }" type="checkbox">
			</td>
			<td height="25" class="row1" onmouseover="this.className='row2'" onmouseout="this.className='row1'" onclick="location.href='{ $users_admin:link_profile }'; return false;">
				<a href="{ $users_admin:link_profile }">{ $users_admin:user_name }</a>
			</td>
			<td width="150" class="row1" align="center">
				{ $users_admin:registered }
			</td>
			<td width="60" align="center" class="row1" onmouseover="this.className='row2'" onmouseout="this.className='row1'" onclick="location.href='{ $users_admin:link_activate }'; return false;">
				<a href="{ $users_admin:link_activate }">{ $L_ACTIVATE }</a>
			</td>
			<td width="60" align="center" class="row1" onmouseover="this.className='row2'" onmouseout="this.className='row1'" onclick="location.href='{ $users_admin:link_remove }'; return false;">
				<a href="{ $users_admin:link_remove }">{ $L_REMOVE }</a>
			</td>
			<td width="60" align="center" class="row1" onmouseover="this.className='row2'" onmouseout="this.className='row1'" onclick="location.href='{ $users_admin:link_remind }'; return false;">
				<a href="{ $users_admin:link_remind }">{ $L_REMIND }</a> 
			</td>
		</tr>
		<tr>
			<td class="spacer" colspan="6" height="7"></td>
		</tr>
		<!-- LOOPELSE -->
		<tr>
			<td colspan="6" align="center" class="row1">
				{ $L_NO_UNACTIVATED_USERS }
			</td>
		</tr>
		<!-- ENDLOOP -->
		<tr>
			<td colspan="6" class="cat" align="right"><select name="mark_option"><option value="activate">{ $L_ACTIVATE }</option><option value="remove">{ $L_REMOVE }</option><option value="remind">{ $L_REMIND }</option></select>&nbsp;<input class="bottom" name="submit" value="{ $L_SUBMIT }" type="submit">&nbsp;</td>
		</tr>
		<!-- IF { $USERS_PAGINATION } -->
		<tr class="row2">
			<td style="padding: 5px;" valign="middle" colspan="6">
				<div>{ $USERS_PAGINATION }</div>
			</td>
		</tr>
		<!-- ENDIF -->
    </tbody>
</table>

{ $THEME_TABLE_CLOSE }

<!-- DISPLAY_FOOTER -->