<!-- DISPLAY_HEADER -->

{ $A_TABLE_OPEN }

<form method="post" action="">
	<input name="q" size="15" maxlength="200" value="" type="text" /> <input class="button" name="submit" value="Search" type="submit" />
</form>
	
<table class="tablebg" width="100%" cellpadding="1" cellspacing="1">
	<tbody>
		<!-- IF { $google_pagination } -->
		<tr class="row2">
			<td style="padding: 5px;" valign="middle" colspan="2">
				<div style="padding-right: 5px; text-align: right;">{ $google_pagination }</div>
			</td>
		</tr>
		<!-- ENDIF -->
		<tr>
			<td class="spacer" colspan="2" height="7"></td>
		</tr>
		<!-- LOOP $google_result -->
		<tr>
			<td align="center" class="row1">
				<b>{ $google_result:num }</b>
			</td>
			<td class="row1">
				<a href="{ $google_result:url } "><b>{ $google_result:title }</b></a>
			</td>
		</tr>
		<tr>
			<td colspan="2" class="row1">
				<p>{ $google_result:snippet }</p>
			</td>
		</tr>
		<tr>
			<td class="spacer" colspan="2" height="7"></td>
		</tr>
		<!-- LOOPELSE -->
		<tr class="row2">
			<td align="center" colspan="2">
				{ $L_RESULTS_FOUND }
			</td>
		</tr>
		<!-- ENDLOOP -->

		<!-- IF { $google_pagination } -->
		<tr class="row2">
			<td style="padding: 5px;" valign="middle" colspan="2">
				<div style="padding-right: 5px; text-align: right;">{ $google_pagination }</div>
			</td>
		</tr>
		<!-- ENDIF -->
	</tbody>
</table>

{ $A_TABLE_CLOSE }

<!-- DISPLAY_FOOTER -->