{ include file='modules/Forums/simple_header.html' }

	<h4>{ $TOTAL_REGISTERED_USERS_ONLINE}</h4>
	<h4>{ $TOTAL_GUEST_USERS_ONLINE }{ if $S_SWITCH_GUEST_DISPLAY } [ <a href="{ $U_SWITCH_GUEST_DISPLAY }">{ $L_SWITCH_GUEST_DISPLAY }</a> ]{ /if }</h4>
	<br />

	{ if $PAGINATION }
	<table width="100%" cellspacing="1">
	<tr>
		<td class="nav" valign="middle" nowrap="nowrap">&nbsp;{ $PAGE_NUMBER }<br /></td>
		<td class="gensmall" width="100%" align="right" nowrap="nowrap"><b><a href="javascript:jumpto();">{ $L_GOTO_PAGE }</a> { if $PREVIOUS_PAGE }<a href="{ $PREVIOUS_PAGE }">{ $L_PREVIOUS }</a>&nbsp;&nbsp;{ /if }{ $PAGINATION }{ if $NEXT_PAGE }&nbsp;&nbsp;<a href="{ $NEXT_PAGE }">{ $L_NEXT }</a>{ /if }</b></td>
	</tr>
	</table>
	{ /if }

	<table class="tablebg" width="100%" cellspacing="1">
		<tr> 
			<th width="40%"><a class="th" href="{ $U_SORT_USERNAME }">{ $L_USERNAME }</a></th>
			<th width="20%"><a class="th" href="{ $U_SORT_UPDATED }">{ $L_LAST_UPDATED }</a></th>
			<th width="40%"><a class="th" href="{ $U_SORT_LOCATION }">{ $L_FORUM_LOCATION }</a></th>
		</tr>
		{ section name=user_row_loop loop=$user_row }
		
		<tr>
			<td class="row1"><p class="gen">{ if $user_row[user_row_loop].U_USER_PROFILE }<a href="{$user_row[user_row_loop].U_USER_PROFILE}">{ /if }{ $user_row[user_row_loop].USERNAME }{ if $user_row[user_row_loop].U_USER_PROFILE }</a>{ /if }</p>{ if $user_row[user_row_loop].USER_IP }<p class="gensmall">{ $L_IP }: <a href="{ $user_row[user_row_loop].U_USER_IP }">{ $user_row[user_row_loop].USER_IP }</a> &#187; <a href="{ $user_row[user_row_loop].U_WHOIS }" onclick="popup('{ $user_row[user_row_loop].U_WHOIS }', 750, 500);return false">{ $L_WHOIS }</a></p>{ /if }</td>
			<td class="row2" align="center" nowrap="nowrap"><p class="genmed">&nbsp;{$user_row[user_row_loop].LASTUPDATE}</p></td>
			<td class="row1"><p class="genmed"><a href="{$user_row[user_row_loop].U_FORUM_LOCATION}">{$user_row[user_row_loop].FORUM_LOCATION}</a></p></td>
		</tr>
		
		{ /section }
		{ if $LEGEND }
		<tr>
			<td class="row1" colspan="3"><b class="gensmall">{ $L_LEGEND} :: { $LEGEND }</b></td>
		</tr>
		{ /if }
	</table>

	{ if $PAGINATION }
	<table width="100%" cellspacing="1">
	<tr>
		<td class="nav" valign="middle" nowrap="nowrap">&nbsp;{ $PAGE_NUMBER }<br /></td>
		<td class="gensmall" width="100%" align="right" nowrap="nowrap"><b><a href="javascript:jumpto();">{ $L_GOTO_PAGE }</a> { if $PREVIOUS_PAGE }<a href="{ $PREVIOUS_PAGE }">{ $L_PREVIOUS }</a>&nbsp;&nbsp;{ /if }{ $PAGINATION }{ if $NEXT_PAGE }&nbsp;&nbsp;<a href="{ $NEXT_PAGE }">{ $L_NEXT }</a>{ /if }</b></td>
	</tr>
	</table>
	{ /if }

	<div class="gensmall" align="right">{ $L_ONLINE_EXPLAIN }</div>

	<br clear="all" />

	<table class="tablebg" width="100%" cellspacing="1" cellpadding="0">
		<tr>
			<td class="row1">
				<p class="datetime">{ $S_TIMEZONE }</p>
			</td>
		</tr>
	</table>

	<br clear="all" />

{ include file='modules/Forums/simple_footer.html' }