{ include file='modules/Control_Panel/ucp_header.html' }

<table class="tablebg" width="100%" cellpadding="5" cellspacing="1px">
	<tr class="row2">
		<td width="33%"><a href="{ $PREVIOUS_MONTH }">{ $PREVIOUS_MONTH_NAME } { $PREVIOUS_MONTH_YEAR }</a></td>
		<td width="33%" align="center"><div style="font-size: 120%"><b>{ $THIS_MONTH_NAME } { $CURRENT_YEAR }</b></div></td>
		<td width="33%" align="right"><a href="{ $NEXT_MONTH }">{ $NEXT_MONTH_NAME } { $NEXT_MONTH_YEAR }</a></td>
	</tr>
</table>

<div style="padding: 2px;"></div>

<table class="tablebg" width="100%" cellspacing="1">
	<tr>
		<th width="14%">{$L_SUNDAY}</th>
		<th width="14%">{$L_MONDAY}</th>
		<th width="14%">{$L_TUESDAY}</th>
		<th width="14%">{$L_WEDNESDAY}</th>
		<th width="14%">{$L_THURSDAY}</th>
		<th width="14%">{$L_FRIDAY}</th>
		<th width="14%">{$L_SATURDAY}</th>
	</tr>
	{section name=daysloop loop=$days}

	{ if $smarty.section.daysloop.index % 7 == 0 }</tr><tr style="height:80px">{ /if }
	{*	<tr class="row1">{ else }<tr class="row2">{ /if }*}

	{if $days[daysloop].NUMBER }
		{ if $days[daysloop].LINK }
			<td class="row1" valign="top" onmouseover="this.className='row2'" onmouseout="this.className='row1'" onclick="location.href='{ $days[daysloop].LINK }'" style="padding:5px">
				<a href="{ $days[daysloop].LINK }">{ $days[daysloop].NUMBER }</a>
				<br/>
				{ if $days[daysloop].DATA }
					{section name=loop_data loop=$days[daysloop].DATA}
						{ $days[daysloop].DATA[loop_data].title }<br/>
					{ /section }
				{ /if }
			</td>
		{ else }
			<td class="row3" valign="top" style="padding:5px">{ $days[daysloop].NUMBER }<br/>{ $days[daysloop].DATA }</td>
		{ /if }
	{ else }
		<td class="row2" style="padding:5px"></td>
	{ /if }
	
	{ if $smarty.section.daysloop.index % 5 == 0 }{ /if }
	
	{ /section }
	
	<tr>
		<th colspan="7"></th>
	</tr>

</table>

{ include file='modules/Control_Panel/ucp_footer.html' }