<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Debug Menu</title>
<link rel="stylesheet" href="themes/viperal/style/style.css" type="text/css">
</head>
<body>
<table class="tablebg" style="width:100%" cellpadding="4" cellspacing="1">
	<tbody>
		<tr>
			<th width="25%">{ if $MODE eq 'site' }{ $L_NOTICES }{ else }<a href="/debug.php?mode=notice"><b>{ $L_NOTICES }</b></a>{ /if }</th>
			<th width="25%">{ if $MODE eq 'wysiwyg' }{ $L_WARNINGS }{ else }<a href="/debug.php?mode=warning"><b>{ $L_WARNINGS }</b></a>{ /if }</th>
			<th width="25%">{ if $MODE eq 'users' }{ $L_QUERIES }{ else }<a href="/debug.php?mode=queries"><b>{ $L_QUERIES }</b></a>{ /if }</th>
		</tr>
	<tbody>
</table>
<table style="width:100%;" align="center" border="0" cellpadding="4" cellspacing="1" width="100%">
	<tbody>
<tr>

<td align="center">

{ if $MODE eq 'warning' }
	{ if !isset($error_warnings) }
		<div class="error_header">Wow We this page has no Notice  errors</div>
	{ else }
			  <div>This page has the following PHP Notice Errors</div>
		  <hr width="50%">
		  <p class="discription"> Run-time warnings (non-fatal errors). Execution of the script is not halted.
		    </p>
	<table class="tablebg" align="center" cellpadding="7" cellspacing="2" style="border: 1px solid #ccc; width:100%;">
	<tbody>
		<tr>
			<th><b>File</b></th>
			<th><b>Line</b></th>
			<th><b>Error</b></th>
		</tr>
		{section name=error_warningsloop loop=$error_warnings}
		<tr>
			<td style="border: 1px solid #ccc;">
				
		{$error_warnings[error_warningsloop].errfile}
			</td>
			<td style="border: 1px solid #ccc;">
			{$error_warnings[error_warningsloop].errline}
			</td>
			<td style="border: 1px solid #ccc; width:100%;">
			<b>{$error_warnings[error_warningsloop].msg_text}</b>
			</td>
		</tr>
		{ /section }
	</tbody>
</table>
		{ /if }

{ elseif $MODE eq 'notice'}
	{ if !isset($error_notice) }
		<div class="error_header">Wow We this page has Notice errors</div>
	{ else }
			  <div>This page has the following PHP Notice Errors</div>
		  <hr width="50%">
		  <p class="discription"> Run-time warnings (non-fatal errors). Execution of the script is not halted.
		    </p>
	<table class="tablebg" align="center" cellpadding="7" cellspacing="2" style="border: 1px solid #ccc; width:100%;">
	<tbody>
		<tr>
			<th><b>File</b></th>
			<th><b>Line</b></th>
			<th><b>Error</b></th>
		</tr>
		{section name=error_noticeloop loop=$error_notice}
		<tr>
			<td style="border: 1px solid #ccc;">
				
		{$error_notice[error_noticeloop].errfile}
			</td>
			<td style="border: 1px solid #ccc;">
			{$error_notice[error_noticeloop].errline}
			</td>
			<td style="border: 1px solid #ccc; width:100%;">
			<b>{$error_notice[error_noticeloop].msg_text}</b>
			</td>
		</tr>
		{ /section }
	</tbody>
</table>
		{ /if }
{ elseif $MODE eq 'queries'}

		<div>This page contains the Query information<br/>This page is accurate to the page you browsing.</div>
		<hr width="50%">
		<p class="discription"></p>
		{ if !isset($query) }
		
			<div class="error_header">Sorry No query data found</div>
		{ else }
		{section name=queryloop loop=$query}
		<table class="tablebg" align="center" cellpadding="10" cellspacing="2" style="border: 1px solid #ccc; width:100%;">
			<tbody>
				<tr>
					<th colspan="4" width="100%"><b>Query #{ $query[queryloop].row }</b></th>
				</tr>
				<tr>
					<td colspan="4" width="100%" style="border: 1px solid #ccc;">{ $query[queryloop].query }</td>
				</tr>
				<tr>
					<th><b>Requested File</b></th>
					<th><b>File Line</b></th>
					<th><b>Query time</b></th>
					<th><b>Rounds Affected</b></th>
				</tr>
				<tr>
					<td width="100%" valign="top" style="border: 1px solid #ccc;"><b>{ $query[queryloop].file }</b></td>
					<td valign="top" style="border: 1px solid #ccc;"><b>{ $query[queryloop].line }</b></td>
					<td valign="top" style="border: 1px solid #ccc;"><b>{ $query[queryloop].time }s</b></td>
					<td valign="top" style="border: 1px solid #ccc;"><b>{ $query[queryloop].affected }</b></td>
				</tr>
			</tbody>
		</table>
		<table class="tablebg" align="center" cellpadding="7" cellspacing="2" style="border: 1px solid #ccc; width:100%;">
		<tbody>
		<tr>
			{section name=headerloop loop=$header}
				{ if $header[headerloop].row eq $query[queryloop].row }
					<th><b>{ $header[headerloop].value }</b></th>
				{ /if }
			{ /section }
		</tr>
		<tr>
			{section name=queriesloop loop=$queries}
			
				{ if $queries[queriesloop].row eq $query[queryloop].row }
					{ if $queries[queriesloop].new }</tr><tr>{ /if }
					<td style="border: 1px solid #ccc;">
					{$queries[queriesloop].value}
					</td>
				{ /if }
			{ /section }
		</tr>
	</tbody>
</table><br/>
	{ /section }
	{ /if }
{ /if }


			</td>
		</tr>
	</tbody>
</table>

</body></html>