{ $A_TABLE_OPEN }
<form method="post" action="">
	<table class="tablebg" border="0" cellpadding="0" cellspacing="1" width="100%">
		<tbody>
			<tr>
				<th colspan="2">{ $L_ALLOWED }</th>
			</tr>
			<tr>
				<td class="spacer" colspan="8" height="7"></td>
			</tr>
			<tr>
				<td>
					<table class="tablebg" align="center" border="0" cellpadding="0" cellspacing="0" width="100%">
						<tbody>
							<tr>
								<th>Manage Users</th>
							</tr>
							<tr>
								<td class="row1" align="center"><select style="width: 280px;" name="u_remove[]" multiple="multiple" size="5">{ $P_CURRENT_USERS }</select></td>
							</tr>
						</tbody>
					</table>
				</td>
				<td align="center">
					<table class="tablebg" align="center" border="0" cellpadding="0" cellspacing="0" width="100%">
						<tbody>
							<tr>
								<th>Manage Groups</th>
							</tr>
							<tr>
								<td class="row1" align="center"><select style="width: 280px;" name="g_remove[]" multiple="multiple" size="5">{ $P_CURRENT_GROUPS }</select></td>
							</tr>
						</tbody>
					</table>
				</td>
			</tr>
			<tr>	
				<td>
					<table class="tablebg" align="center" border="0" cellpadding="0" cellspacing="0" width="100%">
						<tbody>
							<tr>
								<th>Add Users</th>
							</tr>
							<tr>
								<td class="row1" align="center"><textarea style="height: 62px;" cols="40" rows="4" name="u_add">{ $P_ADD_USERS }</textarea></td>
							</tr>
		
						</tbody>
					</table>
				</td>
				<td>
					<table class="tablebg" align="center" border="0" cellpadding="0" cellspacing="0" width="100%">
						<tbody>
							<tr>
								<th>Add Groups</th>
							</tr>
							<tr>
								<td class="row1" style="height: 100%;" align="center"><select style="width: 280px;" name="g_add[]" multiple="multiple" size="5">{ $P_ADD_GROUPS }</select></td>
							</tr>
						</tbody>
					</table>
				</td>
			</tr>
			<tr>
				<td class="cat" colspan="3" align="center" height="28">
					<input class="btnmain" name="submit" value="Submit" type="submit" />&nbsp;&nbsp;<input class="button" value="Reset" name="reset" type="reset" />
				</td>
			</tr>
		</tbody>
	</table>

	<br/>

	<table class="tablebg" border="0" cellpadding="0" cellspacing="1" width="100%">
		<tbody>
			<tr>
				<th colspan="2">{ $L_DISALLOWED }</th>
			</tr>
			<tr>
				<td class="spacer" colspan="8" height="7"></td>
			</tr>
			<tr>
				<td>
					<table class="tablebg" align="center" border="0" cellpadding="0" cellspacing="0" width="100%">
						<tbody>
							<tr>
								<th>Manage Users</th>
							</tr>
							<tr>
								<td class="row1" align="center"><select style="width: 280px;" name="u_remove[]" multiple="multiple" size="5">{ $P_CURRENT_USERS }</select></td>
							</tr>
						</tbody>
					</table>
				</td>
				<td align="center">
					<table class="tablebg" align="center" border="0" cellpadding="0" cellspacing="0" width="100%">
						<tbody>
							<tr>
								<th>Manage Groups</th>
							</tr>
							<tr>
								<td class="row1" align="center"><select style="width: 280px;" name="g_remove[]" multiple="multiple" size="5">{ $P_CURRENT_GROUPS }</select></td>
							</tr>
						</tbody>
					</table>
				</td>
			</tr>
			<tr>	
				<td>
					<table class="tablebg" align="center" border="0" cellpadding="0" cellspacing="0" width="100%">
						<tbody>
							<tr>
								<th>Add Users</th>
							</tr>
							<tr>
								<td class="row1" align="center"><textarea style="height: 62px;" cols="40" rows="4" name="u_add">{ $P_ADD_USERS }</textarea></td>
							</tr>
		
						</tbody>
					</table>
				</td>
				<td>
					<table class="tablebg" align="center" border="0" cellpadding="0" cellspacing="0" width="100%">
						<tbody>
							<tr>
								<th>Add Groups</th>
							</tr>
							<tr>
								<td class="row1" style="height: 100%;" align="center"><select style="width: 280px;" name="g_add[]" multiple="multiple" size="5">{ $P_ADD_GROUPS }</select></td>
							</tr>
						</tbody>
					</table>
				</td>
			</tr>
			<tr>
				<td class="cat" colspan="3" align="center" height="28">
					<input class="btnmain" name="submit" value="Submit" type="submit" />&nbsp;&nbsp;<input class="button" value="Reset" name="reset" type="reset" />
				</td>
			</tr>
		</tbody>
	</table>
</form>
<div style="padding: 3px"></div>

{ $A_TABLE_CLOSE }