{* $Id: ucp_agreement.html,v 1.2 2004/05/02 13:06:57 acydburn Exp $ *}

{if $T_STYLESHEET_LINK }
	<link rel="stylesheet" href="{$T_STYLESHEET_LINK}" type="text/css" />
{ else }
	<style type="text/css">
	<!--
	{$T_THEME_DATA}
	//-->
	</style>
{ /if }

{php} OpenTable(); {/php}

<form method="post" action="{$S_UCP_ACTION}"><table width="95%" cellspacing="2" cellpadding="2" border="0" align="center">
<table class="tablebg" width="100%" cellspacing="1" cellpadding="4" border="0" align="center">
	<tr>
		<th height="25">{$SITENAME} - {$L_REGISTRATION}</th>
	</tr>
	<tr>
		<td class="row1" align="center"><table width="90%" cellspacing="2" cellpadding="2" border="0" align="center">
			<tr>
				{ if $S_SHOW_COPPA }
				<td class="gen" align="center"><br />{$L_COPPA_BIRTHDAY}<br /><br /><a href="{$U_COPPA_NO}">{$L_COPPA_NO}</a> :: <a href="{$U_COPPA_YES}">{$L_COPPA_YES}</a><br /><br /></td>
				{ else }
				<td><span class="genmed"><br />{$L_AGREEMENT}<br /><br /></span>
					<div align="center">
						<input class="btnlite" type="submit" name="agreed" value="{$L_AGREE}"><br /><br />
						<input class="btnlite" type="submit" name="not_agreed" value="{$L_NOT_AGREE}">
					</div>
				</td>
				{ /if }
			</tr>
		</table></td>
	</tr>
</table></form>

{php} CloseTable(); {/php}
