{ $A_TABLE_OPEN }

<table border="0" cellpadding="4" cellspacing="1" width="100%">
	<tbody>
		<tr>
			<td width="50%" valign="top">
				<table class="tablebg" border="0" cellpadding="4" cellspacing="1" width="100%">
					<tbody>
						<tr>
							<th width="25%" colspan="2" align="center"><b>System Info</b></td>
						</tr>
						<tr class="row1">
							<td>
								Core
							</td>
							<td>
								{ $core_version }
							</td>
						</tr>
						<tr class="row1">
							<td>
								PHP Version
							</td>
							<td>
								{ $php_version }
							</td>
						</tr>
						<tr class="row1">
							<td>
								Database Version
							</td>
							<td>
								{ $database_version }
							</td>
						</tr>
						<tr class="row1">
							<td>
								Server Software
							</td>
							<td>
								{ $server_software }
							</td>
						</tr>
						<tr class="row1">
							<td>
								Server Host
							</td>
							<td>
								{ $server_host }
							</td>
						</tr>
					</tbody>
				</table>
				<br/>
				<table class="tablebg" border="0" cellpadding="4" cellspacing="1" width="100%">
					<tbody>
						<tr>
							<th width="25%" colspan="2" align="center"><b>System Info</b></td>
						</tr>
						<tr class="row1">
							<td>
								Core Version
							</td>
							<td>
								{ $core_version }
							</td>
						</tr>
						<tr class="row1">
							<td>
								PHP Version
							</td>
							<td>
								{ $php_version }
							</td>
						</tr>
						<tr class="row1">
							<td>
								Database Version
							</td>
							<td>
								{ $database_version }
							</td>
						</tr>
						<tr class="row1">
							<td>
								Server Software
							</td>
							<td>
								{ $server_software }
							</td>
						</tr>
						<tr class="row1">
							<td>
								Server Host
							</td>
							<td>
								{ $server_host }
							</td>
						</tr>
					</tbody>
				</table>
			</td>
			<td width="50%" valign="top">
				<table class="tablebg" border="0" cellpadding="4" cellspacing="1" width="100%">
					<tbody>
						<tr>
							<th width="25%" align="center"><b>Viperal CMS - Latest News</b></td>
						</tr>
						<!-- LOOP $cms_news -->
						<tr>
							<td class="row1">
								<a href="{ $cms_news:link }"><strong>{ $cms_news:title }</strong></a><br/>
								<p>
								{ $cms_news:description }
								</p>
							</td>
						</tr>
						<tr>
							<td class="row2" style="padding: 4px;"></th>
						</tr>
						<!-- ENDLOOP -->
					</tbody>
				</table>
			</td>
		</tr>
    </tbody>
</table>
<br/>
<table class="tablebg" border="0" cellpadding="4" cellspacing="1" width="100%">
    <tbody>
		<tr>
			<th colspan="3" align="center"><b>Inactive Users</b></th>
		</tr>
		<tr>
			<td colspan="3" class="row2"></td>
		</tr>
		<tr>
			<th width="20%" height="25" nowrap="nowrap">Username</th>
			<th width="45%">Options</th>
			<th width="5%" nowrap="nowrap">Options</th>
		</tr>
		<tr>
			<td colspan="3" class="row2">{ $L_DISABLED_USERS }</td>
		</tr>
		<!-- LOOP $users_disabled -->
		<tr>
			<td class="row1">
				<a href="{ $users_disabled:link_profile }">{ $users_disabled:user_name }</a>
			</td>
			<td class="row1">
				{ $users_disabled:user_name }
			</td>
			<td class="row1">
				{ $users_disabled:user_name }
			</td>
		</tr>
		<tr>
			<td class="spacer" colspan="3" height="7"></td>
		</tr>
		<!-- LOOPELSE -->
		<tr>
			<td colspan="3" align="center" class="row1">
				{ $L_NO_DISABLED_USERS }
			</td>
		</tr>
		<!-- ENDLOOP -->
		<tr>
			<td colspan="3" class="row2">{ $L_UNACTIVATED_USERS }</td>
		</tr>
		<!-- LOOP $users_unactivated -->
		<tr>
			<td class="row1">
				<a href="{ $users_unactivated:link_profile }">{ $users_unactivated:user_name }</a>
			</td>
			<td class="row1">
				{ $users_unactivated:user_name }
			</td>
			<td class="row1">
				{ $users_unactivated:user_name }
			</td>
		</tr>
		<tr>
			<td class="spacer" colspan="3" height="7"></td>
		</tr>
		<!-- LOOPELSE -->
		<tr>
			<td colspan="3" align="center" class="row1">
				{ $L_NO_UNACTIVATED_USERS }
			</td>
		</tr>
		<!-- ENDLOOP -->
    </tbody>
</table>

{ $A_TABLE_CLOSE }