{ include file='modules/Forums/overall_header.html' }

	{ * $Id: viewtopic_body.html,v 1.19 2004/06/06 21:44:49 acydburn Exp $ *}

	{ if $S_FORUM_RULES }
	<div class="forumrules">
		{ if $U_FORUM_RULES }
			<a href="{$U_FORUM_RULES}">{$L_FORUM_RULES}</a>
		{ else }
			<h3 style="color:red">{$L_FORUM_RULES}</h3><br />
			{$FORUM_RULES}
		{ /if }
	</div>

	<br clear="all" />
	{ /if }
	
	<div id="pageheader">
		<h2><a class="titles" href="{$U_VIEW_TOPIC}">{$TOPIC_TITLE}</a></h2>

		{ if $MODERATORS }
			<p class="moderators">{$L_MODERATORS}: {$MODERATORS}</p>
		{ /if }
		{ if $U_MCP }
			<p class="linkmcp">[ <a href="{$U_MCP}">{$L_MCP}</a> ]</p>
		{ /if }
	</div>

	<br clear="all" /><br />

	<div id="pagecontent">

		<table width="100%" cellspacing="1">
			<tr>
				<td align="left" valign="middle" nowrap="nowrap"><a href="{$U_POST_NEW_TOPIC}">{$POST_IMG}</a>&nbsp;<a href="{$U_POST_REPLY_TOPIC}">{$REPLY_IMG}</a></td>
				{ if $TOTAL_POSTS }
				<td class="nav" valign="middle" nowrap="nowrap">&nbsp;{$PAGE_NUMBER}<br /></td>
				<td class="gensmall" nowrap="nowrap">&nbsp;[ {$TOTAL_POSTS} ]&nbsp;</td>
				<td class="gensmall" width="100%" align="right" nowrap="nowrap">{ if $PAGINATION }<b><a href="javascript:jumpto();">{$L_GOTO_PAGE}</a> { if $PREVIOUS_PAGE }<a href="{$PREVIOUS_PAGE}">{$L_PREVIOUS}</a>&nbsp;&nbsp;{ /if }{$PAGINATION}{ if $NEXT_PAGE }&nbsp;&nbsp;<a href="{$NEXT_PAGE}">{$L_NEXT}</a>{ /if }</b>{ /if }</td>
				{ /if }
			</tr>
		</table>

		<table class="tablebg" width="100%" cellspacing="1">
			<tr>
				<td class="cat" colspan="2"><table width="100%" cellspacing="0">
					<tr>
						<td class="nav" nowrap="nowrap">&nbsp;
						{ if $U_WATCH_TOPIC }<a href="{$U_WATCH_TOPIC}" title="{$L_WATCH_TOPIC}">{$L_WATCH_TOPIC}</a>{ if $U_PRINT_TOPIC || $U_EMAIL_TOPIC || $U_BUMP_TOPIC || $U_BOOKMARK_TOPIC } | { /if }{ /if }
						{ if $U_BOOKMARK_TOPIC }<a href="{$U_BOOKMARK_TOPIC}" title="{$L_BOOKMARK_TOPIC}">{$L_BOOKMARK_TOPIC}</a>{ if $U_PRINT_TOPIC || $U_EMAIL_TOPIC || $U_BUMP_TOPIC } | { /if }{ /if }
						{ if $U_PRINT_TOPIC }<a href="{$U_PRINT_TOPIC}" title="{$L_PRINT_TOPIC}">{$L_PRINT_TOPIC}</a>{ if $U_EMAIL_TOPIC || $U_BUMP_TOPIC } | { /if }{ /if }
						{ if $U_EMAIL_TOPIC }<a href="{$U_EMAIL_TOPIC}" title="{$L_EMAIL_TOPIC}">{$L_EMAIL_TOPIC}</a>{ if $U_BUMP_TOPIC } | { /if }{ /if }
						{ if $U_BUMP_TOPIC }<a href="{$U_BUMP_TOPIC}" title="{$L_BUMP_TOPIC}">{$L_BUMP_TOPIC}</a>{ /if }
						</td>
						<td class="nav" align="right" nowrap="nowrap"><a href="{$U_VIEW_OLDER_TOPIC}">{$L_VIEW_PREVIOUS_TOPIC}</a> | <a href="{$U_VIEW_UNREAD_POST}">{$L_VIEW_UNREAD_POST}</a> | <a href="{$U_VIEW_NEWER_TOPIC}">{$L_VIEW_NEXT_TOPIC}</a>&nbsp;</td>
					</tr>
				</table></td>
			</tr>
			{ if $S_HAS_POLL }
			<tr>
				<td class="row2" colspan="2"><br clear="all" /><form method="post" action="{$S_POLL_ACTION}">
				
					<table cellspacing="0" cellpadding="4" border="0" align="center">
						<tr>
							<td align="center"><span class="gen"><b>{$POLL_QUESTION}</b></span><br /><span class="gensmall">{$L_POLL_LENGTH}</span></td>
						</tr>
						<tr>
							<td align="center"><table cellspacing="0" cellpadding="2" border="0">
								{section name=poll_optionloop loop=$poll_option}
								<tr>
									{ if $S_CAN_VOTE }
									<td>
										{ if $S_IS_MULTI_CHOICE }
											<input type="checkbox" name="vote_id[]" value="{$poll_option[poll_optionloop].POLL_OPTION_ID}"{ if $poll_option[poll_optionloop].POLL_OPTION_VOTED } checked="checked"{ /if } />
										{ else }
											<input type="radio" name="vote_id[]" value="{$poll_option[poll_optionloop].POLL_OPTION_ID}"{ if $poll_option[poll_optionloop].POLL_OPTION_VOTED } checked="checked"{ /if } />
										{ /if }
									</td>
									{ /if }
									<td><span class="gen">{$poll_option[poll_optionloop].POLL_OPTION_CAPTION}</span></td>
									{ if $S_DISPLAY_RESULTS }
									<td>{$POLL_LEFT_CAP_IMG}{$poll_option[poll_optionloop].POLL_OPTION_IMG}{$POLL_RIGHT_CAP_IMG}</td>
									<td class="gen" align="center"><b>&nbsp;{$poll_option[poll_optionloop].POLL_OPTION_PERCENT}&nbsp;</b></td>
									<td class="gen" align="center">[ {$poll_option[poll_optionloop].POLL_OPTION_RESULT} ]</td>
									{ if $poll_option[poll_optionloop].POLL_OPTION_VOTED }
									<td class="gensmall" valign="top"><b title="{$L_POLL_VOTED_OPTION}">x</b></td>
									{ /if }
									{ /if }
								</tr>
								{ /section }
							</table></td>
						</tr>
						{ if $S_CAN_VOTE }
						<tr>
							<td align="center"><span class="gensmall">{$L_MAX_VOTES}</span><br /><br /><input type="submit" name="update" value="{$L_SUBMIT_VOTE}" class="btnlite" /></td>
						</tr>
						{ /if }
						{ if $S_DISPLAY_RESULTS }
						<tr>
							<td class="gensmall" colspan="4" align="center"><b>{$L_TOTAL_VOTES} : {$TOTAL_VOTES}</b></td>
						</tr>
						{ else }
						<tr>
							<td align="center"><span class="gensmall"><b><a href="{$U_VIEW_RESULTS}">{$L_VIEW_RESULTS}</a></b></span></td>
						</tr>
						{ /if }
					</table>
				{$S_HIDDEN_FIELDS}</form></td>
			</tr>
			{ /if }
			<tr>
				<th width="150" nowrap="nowrap">{$L_AUTHOR}</th>
				<th nowrap="nowrap">{$L_MESSAGE}</th>
			</tr>

			{section name=postrowloop loop=$postrow}

			{ if $smarty.section.postrowloop.index is even }
			<tr class="row1">
			{ else }
			<tr class="row2">
			{ /if }

			{ if $postrow[postrowloop].S_IGNORE_POST }
				<td class="gensmall" colspan="2" height="25" align="center">{$postrow[postrowloop].L_IGNORE_POST}</td>
			{ else }
				<td align="center" valign="middle">{ if $postrow[postrowloop].S_FIRST_UNREAD }<a name="unread"></a>{ else }<a name="{$postrow[postrowloop].POST_ID}"></a>{ /if }<b class="postauthor">{$postrow[postrowloop].POSTER_NAME}</b></td>
				<td width="100%" height="25"><table width="100%" cellspacing="0">
					<tr>
						{ if $postrow[postrowloop].POST_ICON_IMG }
						<td>{$postrow[postrowloop].POST_ICON_IMG}</td>
						{ /if }
						<td class="gensmall" width="100%"><div style="float:left">&nbsp;<b>{$L_POST_SUBJECT}:</b> {$postrow[postrowloop].POST_SUBJECT}</div><div style="float:right"><a href="{$postrow[postrowloop].U_MINI_POST}">{$postrow[postrowloop].MINI_POST_IMG}</a><b>{$L_POSTED}:</b> {$postrow[postrowloop].POST_DATE}&nbsp;</div></td>
					</tr>
				</table></td>
			</tr>
			
			{ if $smarty.section.postrowloop.index is even }
			<tr class="row1">
			{ else }
			<tr class="row2">
			{ /if }
				<td valign="top" >
					
					<div align="center">
					
					<table cellspacing="4" width="140px" align="center">
						{ if $postrow[postrowloop].KARMA_IMG }
						<tr>
							<td><div style="text-align: center;">{$postrow[postrowloop].KARMA_IMG}</div></td>
						</tr>
						{ /if }
						{ if $postrow[postrowloop].ONLINE_IMG }
						<tr>
							<td><div style="text-align: center;">{$postrow[postrowloop].ONLINE_IMG}</div></td>
						</tr>
						{ /if }
						{ if $postrow[postrowloop].POSTER_RANK }
						<tr>
							<td class="postdetails"><div style="text-align: center;">{$postrow[postrowloop].POSTER_RANK}</div></td>
						</tr>
						{ /if }
						{ if $postrow[postrowloop].RANK_IMAGE }
						<tr>
							<td><div style="text-align: center;">{$postrow[postrowloop].RANK_IMAGE}</div></td>
						</tr>
						{ /if }
						{ if $postrow[postrowloop].POSTER_AVATAR }
						<tr>
							<td><div style="text-align: center;">{$postrow[postrowloop].POSTER_AVATAR}</div></td>
						</tr>
						{ /if }
					</table>

					<span class="postdetails">
					{ if $postrow[postrowloop].POSTER_POSTS }<br /><b>{$L_JOINED}:</b> {$postrow[postrowloop].POSTER_JOINED}{ /if }
					{ if $postrow[postrowloop].POSTER_POSTS }<br /><b>{$L_POSTS}:</b> {$postrow[postrowloop].POSTER_POSTS}{ /if }
					{ if $postrow[postrowloop].POSTER_FROM }<br /><b>{$L_LOCATION}:</b> {$postrow[postrowloop].POSTER_FROM}{ /if }
					{ if $postrow[postrowloop].S_PROFILE_FIELD_1 }<br /><b>{$postrow[postrowloop].PROFILE_FIELD_1_NAME}:</b> {$postrow[postrowloop].PROFILE_FIELD_1_VALUE}{ /if }
					</span>

					</div>
				</td>
				<td valign="top"><table width="100%" cellspacing="5">
					<tr>
						<td>

							{ if $postrow[postrowloop].S_POST_UNAPPROVED || $postrow[postrowloop].S_POST_REPORTED }
							<table width="100%" cellspacing="0">
								<tr>
									<td class="gensmall">{ if $postrow[postrowloop].S_POST_UNAPPROVED }<b class="postapprove">&#187 <a class="postapprove" href="{$postrow[postrowloop].U_MCP_APPROVE}">{$L_POST_UNAPPROVED}</a></b> { /if } { if $postrow[postrowloop].S_POST_REPORTED }<b class="postreported">&#187 <a class="postreported" href="{$postrow[postrowloop].U_MCP_REPORT}">{$L_POST_REPORTED}</a></b>{ /if }</td>
								</tr>
							</table>

							<br clear="all" />
							{ /if }

							<div class="postbody" style="min-height: 100px;">{$postrow[postrowloop].MESSAGE}</div>

							{ if $postrow[postrowloop].S_HAS_ATTACHMENTS }
							<br clear="all" /><br />
							
							<table class="tablebg" width="100%" cellspacing="1">
								<tr>
									<td class="row3"><b class="genmed">{$L_ATTACHMENTS}: </b></td>
								</tr>
								{section name=attachmentloop loop=$attachment}
									{ if $attachment[attachmentloop].TOPIC eq $postrow[postrowloop].POST_ID }
								<tr>
									{ if $smarty.section.postrowloop.index is even }<td class="row2">{ else }<td class="row1">{ /if }{$attachment[attachmentloop].DISPLAY_ATTACHMENT}</td>
								</tr>
									{ /if }
								{ /section }
							</table>
							{ /if }

							{ if $postrow[postrowloop].S_DISPLAY_NOTICE }
								<span class="gensmall" style="color:red;"><br /><br />{$L_DOWNLOAD_NOTICE}</span>
							{ /if }
							{ if $postrow[postrowloop].SIGNATURE }
								<span class="postbody"><br />_________________<br />{$postrow[postrowloop].SIGNATURE}</span>
							{ /if }
							{ if $postrow[postrowloop].EDITED_MESSAGE || $postrow[postrowloop].EDIT_REASON }
								{ if $postrow[postrowloop].EDIT_REASON }
								<br /><br />
								<table class="tablebg" width="100%" cellspacing="1">
									<tr>
										<td class="row3"><span class="gensmall">{$postrow[postrowloop].EDITED_MESSAGE}</span></td>
									</tr>
									<tr>
										<td class="row2"><span class="genmed">{$postrow[postrowloop].EDIT_REASON}</span></td>
									</tr>
								</table>
								{ else }
								<br /><br />
								<span class="gensmall">{$postrow[postrowloop].EDITED_MESSAGE}</span>
								{ /if }
							{ /if }
							{ if $postrow[postrowloop].BUMPED_MESSAGE }
								<span class="gensmall">{$postrow[postrowloop].BUMPED_MESSAGE}</span>
							{ /if }

							{ if !$postrow[postrowloop].S_HAS_ATTACHMENTS }<br clear="all" /><br />{ /if }

							<table width="100%" cellspacing="0">
								<tr valign="middle">
									{ if $postrow[postrowloop].S_CAN_RATE }
									<td class="gensmall"><b>{$L_RATE}:</b> <a style="color:green" href="{$postrow[postrowloop].U_RATE_GOOD}">{$L_RATE_GOOD}</a> / <a style="color:red" href="{$postrow[postrowloop].U_RATE_BAD}">{$L_RATE_BAD}</a></td>
									{ /if }
									<td class="gensmall" align="right">{ if $postrow[postrowloop].U_REPORT }<a href="{$postrow[postrowloop].U_REPORT}">{$REPORT_IMG}</a> { /if }
									{ if $postrow[postrowloop].U_INFO }<a href="{$postrow[postrowloop].U_INFO}">{$INFO_IMG}</a> { /if }
									{ if $postrow[postrowloop].U_DELETE }<a href="{$postrow[postrowloop].U_DELETE}">{$DELETE_IMG}</a> { /if }</td>
								</tr>
							</table>

						</td>
					</tr>
				</table></td>
			</tr>

			{ if $smarty.section.postrowloop.index is even }
			<tr class="row1">
			{ else }
			<tr class="row2">
			{ /if }
				<td nowrap="nowrap"><span class="gensmall">{ if $postrow[postrowloop].U_MCP_DETAILS }<div align="center">[ <a href="{$postrow[postrowloop].U_MCP_DETAILS}">{$L_POST_DETAILS}</a> ]</div>{ /if }</span></td>
				<td><div class="gensmall" style="float:left">&nbsp;
				{ if $postrow[postrowloop].U_PROFILE }<a href="{$postrow[postrowloop].U_PROFILE}">{$PROFILE_IMG}</a> { /if } 
				{ if $postrow[postrowloop].U_PM }<a href="{$postrow[postrowloop].U_PM}">{$PM_IMG}</a> { /if }
				{ if $postrow[postrowloop].U_EMAIL }<a href="{$postrow[postrowloop].U_EMAIL}">{$EMAIL_IMG}</a> { /if }
				{ if $postrow[postrowloop].U_WWW }<a href="{$postrow[postrowloop].U_WWW}">{$WWW_IMG}</a> { /if }
				{ if $postrow[postrowloop].U_ICQ }<a href="{$postrow[postrowloop].U_ICQ}">{$ICQ_IMG}</a> { /if }
				{ if $postrow[postrowloop].U_AIM }<a href="{$postrow[postrowloop].U_AIM}">{$AIM_IMG}</a> { /if }
				{ if $postrow[postrowloop].U_ICQ }<a href="{$postrow[postrowloop].U_ICQ}">{$ICQ_IMG}</a> { /if }
				{ if $postrow[postrowloop].U_MSN }<a href="{$postrow[postrowloop].U_MSN}">{$MSN_IMG}</a> { /if }
				{ if $postrow[postrowloop].U_YIM }<a href="{$postrow[postrowloop].U_YIM}">{$YIM_IMG}</a> { /if }
				{ if $postrow[postrowloop].U_JABBER }<a href="{$postrow[postrowloop].U_JABBER}">{$JABBER_IMG}</a> { /if }
				&nbsp;</div> <div class="gensmall" style="float:right">
				{ if $postrow[postrowloop].U_QUOTE }<a href="{$postrow[postrowloop].U_QUOTE}">{$QUOTE_IMG}</a> { /if }
				{ if $postrow[postrowloop].U_EDIT }<a href="{$postrow[postrowloop].U_EDIT}">{$EDIT_IMG}</a> { /if }
				&nbsp;</div></td>
			</tr>

			{ /if }
			<tr>
				<td class="spacer" colspan="2" height="1"><img src="images/spacer.gif" alt="" width="1" height="1" /></td>
			</tr>

			{ /section }

			<tr align="center">
				<td class="cat" colspan="2"><form name="viewtopic" method="post" action="{$S_TOPIC_ACTION}"><span class="gensmall">{$L_DISPLAY_POSTS}:</span> {$S_SELECT_SORT_DAYS}&nbsp;<span class="gensmall">{$L_SORT_BY}</span> {$S_SELECT_SORT_KEY} {$S_SELECT_SORT_DIR}&nbsp;<input class="btnlite" type="submit" value="{$L_GO}" name="sort" /></form></td>
			</tr>
		</table>

		<table width="100%" cellspacing="1">
			<tr>
				<td align="left" valign="middle" nowrap="nowrap"><a href="{$U_POST_NEW_TOPIC}">{$POST_IMG}</a>&nbsp;<a href="{$U_POST_REPLY_TOPIC}">{$REPLY_IMG}</a></td>
				{ if $TOTAL_POSTS }
				<td class="nav" valign="middle" nowrap="nowrap">&nbsp;{$PAGE_NUMBER}<br /></td>
				<td class="gensmall" nowrap="nowrap">&nbsp;[ {$TOTAL_POSTS} ]&nbsp;</td>
				<td class="gensmall" width="100%" align="right" nowrap="nowrap">{ if $PAGINATION }<b><a href="javascript:jumpto();">{$L_GOTO_PAGE}</a> { if $PREVIOUS_PAGE }<a href="{$PREVIOUS_PAGE}">{$L_PREVIOUS}</a>&nbsp;&nbsp;{ /if }{$PAGINATION}{ if $NEXT_PAGE }&nbsp;&nbsp;<a href="{$NEXT_PAGE}">{$L_NEXT}</a>{ /if }</b>{ /if }</td>
				{ /if }
			</tr>
		</table>

	</div>

	<div id="pagefooter"></div>

	<br clear="all" />

	<table class="tablebg" width="100%" cellspacing="1" cellpadding="0">
		<tr>
			<td class="row1">
				<p class="breadcrumbs"><a href="{$U_INDEX}">{$L_INDEX}</a>{section name=navlinksloop loop=$navlinks} &#187; <a href="{$navlinks[navlinksloop].U_VIEW_FORUM}">{$navlinks[navlinksloop].FORUM_NAME}</a>{/section}</p>
				<p class="datetime">{$S_TIMEZONE}</p>
			</td>
		</tr>
	</table>

	{ if $S_DISPLAY_ONLINE_LIST }
	<br clear="all" />

	<table class="tablebg" width="100%" cellspacing="1">
		<tr>
			<td class="cat"><h4>{$L_WHO_IS_ONLINE}</h4></td>
		</tr>
		<tr>
			<td class="row1"><p class="gensmall">{$LOGGED_IN_USER_LIST}</p></td>
		</tr>
	</table>
	{ /if }

	<br clear="all" />

	<table width="100%" cellspacing="1">
		<tr>
			<td width="40%" valign="top" nowrap="nowrap" align="left">{ if $S_TOPIC_MOD }<form method="post" action="{$S_MOD_ACTION}"><span class="gensmall">{$L_QUICK_MOD}:</span> {$S_TOPIC_MOD} <input class="btnlite" type="submit" value="{$L_GO}" /></form>{ /if }</td>
			<td align="right" valign="top" nowrap="nowrap"><span class="gensmall">{section name=rulesloop loop=$rules}{$rules[rulesloop].RULE}<br />{ /section }</span></td>
		</tr>
	</table>

	<br clear="all" />

	<table width="100%" cellspacing="0">
		<tr>
			<td>{ if $S_DISPLAY_SEARCHBOX }{ include file='modules/Forums/searchbox.html' }{ /if }</td>
			<td align="right">{ include file='modules/Forums/jumpbox.html' }</td>
		</tr>
	</table>

{ include file='modules/Forums/overall_footer.html' }