<form action="{ $B_ACTION }" method="post"><table class="tablebg" align="center" border="0" cellpadding="4" cellspacing="1" width="100%">
	<tbody>
	<tr> 
		<th colspan="2" height="28" valign="middle">{ $B_HEADER }</th>
	</tr>

	<tr> 
		<td class="row1" width="20%"><b class="genmed">{ $L_TITLE } : </b></td>

		<td class="row2"><input class="post" name="title" size="25" maxlength="40" value="{ $B_TITLE }" type="text"></td>
	</tr>
	{ if $B_ACTIVE }
	<tr> 
		<td class="row1"><b class="genmed">{ $L_ACTIVE }: </b></td>
		<td class="row2">{ $B_ACTIVE }</td>
	</tr>
	{ /if }
	{ if $B_POSITION }
	<tr> 
		<td class="row1"><b class="genmed">{ $L_POSITION }: </b></td>
		<td class="row2">{ $B_POSITION }</td>
	</tr>
	{ /if }
	{ if $B_WEIGHT }
	<tr> 
		<td class="row1"><b class="genmed">{ $L_VIEW }: </b></td>
		<td class="row2">{ $B_WEIGHT }</td>
	</tr>
	{ /if }
	{ if $B_FILENAME }
	<tr> 
		<td class="row1"><b class="genmed">{ $L_FILENAME }: </b></td>
		<td class="row2">{ $B_FILENAME }</td>

	</tr>
	{ /if }
	
	<tr>
		<td class="cat" colspan="2" align="center" height="28">
		<input type="hidden" name="update" value="{ $B_BID }">
		<input class="btnmain" name="submit" value="Submit" type="submit">&nbsp;&nbsp;<input class="btnlite" value="Reset" name="reset" type="reset"></td>
	</tr>
</tbody></table></form>