{ if $ERROR }
	{php} OpenTable(); {/php}
		<div align="center"><font color="#990000">{ $ERROR }</font></div>
	{php} CloseTable(); {/php}
{ /if }

{php} OpenTable(); {/php}

<form method="post" action="{ $ACTION }" >
	<div align="center">{ $L_FEEDBACKNOTE }<br />
	<b>( Please note your ip will be logged )</b></div><br />
    <table><tr><td style="padding: 10px;" valign="top"><label><b>{ $L_YOURNAME }:</b></label><br />
    <input class="post" type="text" name="sender_name" value="{ $SENDER_NAME }" size="30" /><br />
    <label><b>{ $L_YOUREMAIL }:</b></label><br />
    <input class="post" type="text" name="sender_email" value="{ $SENDER_EMAIL }" size="30" /><br />
    
    <input class="btnlite" type="submit" name="contact" value="{ $L_SUBMIT }" />
    <input class="btnlite" type="submit" name="preview" value="{ $L_PREVIEW }" /><br /></td>
	
	<td style="width:90%;"><strong>{ $L_MESSAGE }:</strong><br />
    <textarea name="message" id="message" style="width:90%; height:200px" cols="63" rows="15">{ $MESSAGE }</textarea><br /><br />
    </td></table>
</form>

{php} CloseTable(); {/php}