<div id="AdminMenu" ></div>

{ include file='admin/menu.html' }

<table class="tablebg" style="width:100%" cellpadding="4" cellspacing="1">
 <tr>
  <th width="25%">{ if $A_OPTION eq 'site' }{ $L_SITE }{ else }<a href="{ $A_L_SITE }"><b>{ $L_SITE }</b></a>{ /if }</th>
  <th width="25%">{ if $A_OPTION eq 'wysiwyg' }{ $L_WYSIWYG_EDITOR }{ else }<a href="{ $A_L_WYSIWYG }"><b>{ $L_WYSIWYG_EDITOR }</b></a>{ /if }</th>
  <th width="25%">{ if $A_OPTION eq 'users' }{ $L_USERS_OPTIONS }{ else }<a href="{ $A_L_USERS }"><b>{ $L_USERS_OPTIONS }</b></a>{ /if }</th>
  <th width="25%">{ if $A_OPTION eq 'system' }{ $L_SYSTEM }{ else }<a href="{ $A_L_SYSTEM }"><b>{ $L_SYSTEM }</b></a>{ /if }</th>
</tr>
</table>


<div class="OpenTable"><div class="outer"><div class="inner">
<form action="{ $ACTION }" method="post">
<table class="tablebg" align="center" border="0" cellpadding="4" cellspacing="1" width="100%">
	<tbody>
	{ if $A_OPTION eq 'site' }
	<tr>
		<th colspan="2">{ $L_SITE }</th>
	</tr>
	<tr>
		<td class="row1" width="50%"><b>{ $L_SITE_NAME }: </b></td>
		<td class="row2"><input class="post" size="40" maxlength="255" name="sitename" value="{ $SITE_NAME }" type="text"></td>

	</tr>
	<tr>
		<td class="row1" width="50%"><b>{ $L_SITE_URL }: </b></td>
		<td class="row2"><input class="post" size="40" maxlength="255" name="nukeurl" value="{ $SITE_URL }" type="text"></td>

	</tr>
	<tr>
		<td class="row1" width="50%"><b>{ $L_SITE_LOGO }: </b></td>
		<td class="row2"><input class="post" size="40" maxlength="255" name="site_logo" value="{ $SITE_LOGO }" type="text"></td>

	</tr>
	<tr>
		<td class="row1" width="50%"><b>{ $L_SLOGAN }: </b></td>
		<td class="row2"><input class="post" size="40" maxlength="255" name="slogan" value="{ $SLOGAN }" type="text"></td>

	</tr>
	<tr>
		<td class="row1" width="50%"><b>{ $L_START_DATE }: </b></td>
		<td class="row2"><input class="post" size="40" maxlength="255" name="startdate" value="{ $START_DATE }" type="text"></td>

	</tr>
		<tr>
		<td class="row1" width="50%"><b>{ $L_LINK_OPTIMIZATION }: </b></td>
		<td class="row2"><input name="link_optimization" value="1" { if $LINK_OPTIMIZATION } checked="checked" { /if } type="radio"> { $L_YES }&nbsp;&nbsp;<input name="link_optimization" value="0" { if !$LINK_OPTIMIZATION } checked="checked" { /if } type="radio">{ $L_NO }</td>

	</tr>
	<tr>

		<td class="row1" width="50%"><b>{ $L_DEFAULT_THEME }: </b></td>
		<td class="row2">
			<select name="Default_Theme">
			{section name=site_themeloop loop=$site_theme}
				<option value="{ $site_theme[site_themeloop].FILE }" { if $site_theme[site_themeloop].FILE eq $DEFAULT_THEME }  selected="selected" { /if }> { $site_theme[site_themeloop].NAME }</option>
			{ /section }
			</select>
		</td>
	</tr>
	<tr>

		<td class="row1" width="50%"><b>{ $L_MAINTENANCE }: </b></td>
		<td class="row2"><input name="maintenance" value="1" { if $MAINTENANCE } checked="checked" { /if } type="radio"> { $L_YES }&nbsp;&nbsp;<input name="maintenance" value="0" { if !$MAINTENANCE } checked="checked" { /if } type="radio">{ $L_NO }<br /></td>
	</tr>
	<tr>
		<td class="row1" width="50%" valign="top"><b>{ $L_MAINTENANCE_TEXT }: </b></td>
		<td class="row2"><br /><textarea name="maintenance_text" rows="5" cols="40">{ $MAINTENANCE_MSG }</textarea></td>
	</tr>
	<tr>
	<td class="row1" width="50%" valign="top"><b>{ $L_FOOTER_MESSAGE }: </b></td>
		<td class="row2">
		<textarea name="foot1" rows="5" cols="40">{ $A_FIRST_FOOTER }</textarea><br />

		<br /><textarea name="foot2" rows="5" cols="40">{ $A_SECOND_FOOTER }</textarea><br />

		<br /><textarea name="foot3" rows="5" cols="40">{ $A_THIRD_FOOTER }</textarea></td>
	</tr>
{ elseif $A_OPTION eq 'wysiwyg' }
	<tr>
		<th colspan="2">{ $L_WYSIWYG_EDITOR }</th>
	</tr>
	</tr>
		<tr>
		<td class="row1" width="50%"><b>{ $L_EDITOR_OPTION }: </b></td>
		<td class="row2"><input name="wysiwyg" value="1" { if $EDITOR_OPTION } checked="checked" { /if } type="radio"> { $L_YES }&nbsp;&nbsp;<input name="wysiwyg" value="0" { if !$EDITOR_OPTION } checked="checked" { /if } type="radio">{ $L_NO }</td>

	</tr>
	</tr>
		<tr>
		<td class="row1" width="50%"><b>{ $L_EDITOR_OPTION }: </b></td>
		<td class="row2"><input name="wysiwyg" value="1" { if $EDITOR_OPTION } checked="checked" { /if } type="radio"> { $L_YES }&nbsp;&nbsp;<input name="wysiwyg" value="0" { if !$EDITOR_OPTION } checked="checked" { /if } type="radio">{ $L_NO }</td>

	</tr>
	</tr>
		<tr>
		<td class="row1" width="50%"><b>{ $L_EDITOR_OPTION }: </b></td>
		<td class="row2"><input name="wysiwyg" value="1" { if $EDITOR_OPTION } checked="checked" { /if } type="radio"> { $L_YES }&nbsp;&nbsp;<input name="wysiwyg" value="0" { if !$EDITOR_OPTION } checked="checked" { /if } type="radio">{ $L_NO }</td>

	</tr>
{ elseif $A_OPTION eq 'users' }
	<tr>
		<th colspan="2">{ $L_WYSIWYG_EDITOR }</th>
	</tr>
	<tr>
		<td class="row1" width="50%"><b>{ $L_ACC_ACTIVATION }: </b><br><span class="gensmall">{ $L_ACC_ACTIVATION_EXPLAIN }</span></td>

		<td class="row2">
		{section name=A_ACC_OPTIONloop loop=$A_ACC_OPTION}
			<input name="require_activation" value="{$A_ACC_OPTION[A_ACC_OPTIONloop].OPTION}" { if $A_ACC_OPTION[A_ACC_OPTIONloop].OPTION eq  $ACTIVATION_OPTION } checked="checked" { /if } type="radio"> {$A_ACC_OPTION[A_ACC_OPTIONloop].LANG}&nbsp;&nbsp;
		{/section}
		</td>
	</tr>


	<tr>
		<td class="row1" width="50%"><b>{ $L_ENABLE_COPPA }: </b><br><span class="gensmall">{ $L_ENABLE_COPPA_EXPLAIN }</span></td>

		<td class="row2"><input name="coppa_enable" value="1" { if $COPPA_ENABLE } checked="checked" { /if } type="radio">{ $L_YES }&nbsp;&nbsp;<input name="coppa_enable" value="0" { if !$COPPA_ENABLE } checked="checked" { /if } type="radio">{ $L_NO }</td>
	</tr>


	<tr>
		<td class="row1" width="50%"><b>{ $L_COPPA_FAX }: </b></td>
		<td class="row2"><input class="post" size="25" maxlength="100" name="coppa_fax" value="{ $COPPA_FAX }" type="text"></td>
	</tr>


	<tr>
		<td class="row1" width="50%"><b>{ $L_COPPA_MAIL }: </b><br><span class="gensmall">{ $L_COPPA_MAIL_EXPLAIN }</span></td>
		<td class="row2"><textarea name="coppa_mail" rows="5" cols="40">{ $COPPA_MAIL }</textarea></td>
	</tr>


	<tr>
		<td class="row1" width="50%"><b>{ $L_VISUAL_CONFIRM }: </b><br><span class="gensmall">{ $L_VISUAL_CONFIRM_EXPLAIN }</span></td>

		<td class="row2"><input name="enable_confirm" value="1" { if $CONFIRM_ENABLE } checked="checked" { /if } type="radio">{ $L_YES }&nbsp;&nbsp;<input name="enable_confirm" value="0" { if !$CONFIRM_ENABLE } checked="checked" { /if } type="radio">{ $L_NO }</td>
	</tr>


	<tr>
		<td class="row1" width="50%"><b>{ $L_REG_LIMIT }: </b><br><span class="gensmall">{ $L_REG_LIMIT_EXPLAIN }</span></td>
		<td class="row2"><input class="post" size="4" maxlength="4" name="max_reg_attempts" value="{ $MAX_REG_ATTEMPTS }" type="text"></td>
	</tr>


	<tr>
		<td class="row1" width="50%"><b>{ $L_USERNAME_LENGTH }: </b><br><span class="gensmall">{ $L_USERNAME_LENGTH_EXPLAIN }</span></td>
		<td class="row2"><input class="post" size="3" maxlength="3" name="min_name_chars" value="{ $MIN_NAME_CHARS }" type="text"> Min&nbsp;&nbsp;<input class="post" size="3" maxlength="3" name="max_name_chars" value="{ $MAX_NAME_CHARS }" type="text"> Max</td>
	</tr>

	<tr>
		<td class="row1" width="50%"><b>{ $L_USERNAME_CHARS }: </b><br><span class="gensmall">{ $L_USERNAME_CHARS_EXPLAIN }</span></td>
		<td class="row2"><select name="config[allow_name_chars]"><option value=".*">Any character</option><option value="[\w]+">Alphanumeric only</option><option value="[\w_\+\. \-\[\]]+">Alphanumeric and spacers</option></select></td>
	</tr>
	<tr>

		<td class="row1" width="50%"><b>{ $L_PASSWORD_LENGTH }: </b><br><span class="gensmall">{ $L_PASSWORD_LENGTH_EXPLAIN }</span></td>
		<td class="row2"><input class="post" size="3" maxlength="3" name="min_pass_chars" value="{ $MIN_PASS_CHARS }" type="text"> Min&nbsp;&nbsp;<input class="post" size="3" maxlength="3" name="max_pass_chars" value="{ $MAX_PASS_CHARS }" type="text"> Max</td>
	</tr>
	<tr>
		<td class="row1" width="50%"><b>{ $L_USERNAME_CHARS }: </b><br><span class="gensmall">{ $L_USERNAME_CHARS_EXPLAIN }</span></td>

		<td class="row2"><select name="config[pass_complex]"><option value=".*">No requirements</option><option value="[a-zA-Z]">Must be mixed case</option><option value="[a-zA-Z0-9]">Must contain alphanumerics</option><option value="[a-zA-Z\W]">Must contain symbols</option></select></td>
	</tr>
	<tr>
		<td class="row1" width="50%"><b>{ $L_FORCE_PASS_CHANGE }: </b><br><span class="gensmall">{ $L_FORCE_PASS_CHANGE_EXPLAIN }</span></td>
		<td class="row2"><input class="post" size="3" maxlength="3" name="chg_passforce" value="{ $CHG_PASSFORCE }" type="text"></td>

	</tr>
	<tr>
		<td class="row1" width="50%"><b>{ $L_ALLOW_EMAIL_REUSE }: </b><br><span class="gensmall">{ $L_ALLOW_EMAIL_REUSE_EXPLAIN }</span></td>
		<td class="row2"><input name="allow_emailreuse" value="1" { if $ALLOW_EMAILREUSE } checked="checked" { /if }  type="radio">{ $L_YES }&nbsp;&nbsp;<input name="allow_emailreuse" value="0" { if !$ALLOW_EMAILREUSE } checked="checked" { /if } type="radio">No</td>
	</tr>
	<tr>
		<td class="row1" width="50%"><b>{ $L_ALLOW_NAME_CHANGE }: </b></td>
		<td class="row2"><input name="allow_namechange" value="1" { if $ALLOW_NAMECHANGE } checked="checked" { /if }  type="radio">{ $L_YES }&nbsp;&nbsp;<input name="allow_namechange" value="0" { if !$ALLOW_NAMECHANGE } checked="checked" { /if } type="radio">No</td>
	</tr>
{ /if }
	<tr>
		<td class="cat" colspan="2" align="center"><input name="submit" value="Submit" class="btnmain" type="submit">&nbsp;&nbsp;<input value="Reset" class="btnlite" type="reset"></td>
	</tr>
</tbody></table></form>
</div></div></div>