{ include file='modules/Control_Panel/ucp_header.html' }

{* $Id: ucp_attachments.html,v 1.7 2004/05/26 19:43:15 acydburn Exp $ *}

{ if $S_ATTACHMENT_ROWS }

{ literal }
<script language="javascript" type="text/javascript">

function marklist(form_name, status)
{
	for (i = 0; i < document.forms[form_name].length; i++)
	{
		document.forms[form_name].elements[i].checked = status;
	}
}

//-->
</script>
{ /literal }

<table class="tablebg" width="100%" cellspacing="1">
	<tr>
		<th nowrap="nowrap">#</th>
		<th nowrap="nowrap" width="15%"><a class="th" href="{$U_SORT_FILENAME}">{$L_FILENAME}</a></th>
		<th nowrap="nowrap" width="5%"><a class="th" href="{$U_SORT_POST_TIME}">{$L_POST_TIME}</a></th>
		<th nowrap="nowrap" width="5%"><a class="th" href="{$U_SORT_FILESIZE}">{$L_FILESIZE}</a></th>
		<th nowrap="nowrap" width="5%"><a class="th" href="{$U_SORT_DOWNLOADS}">{$L_DOWNLOADS}</a></th>
		<th width="2%" nowrap="nowrap">{$L_DELETE}</th>
	</tr>

	{section name=attachrowloop loop=$attachrow}
	
		{ if $smarty.section.attachrowloop.rownum is even }<tr class="row2">{ else }<tr class="row1">{ /if }

		<td class="gen" style="padding: 4px;" align="center" width="2%">&nbsp;{$attachrow[attachrowloop].ROW_NUMBER}&nbsp;</td>
		<td style="padding: 4px;"><a class="gen" href="{$attachrow[attachrowloop].U_VIEW_ATTACHMENT}" target="file">{$attachrow[attachrowloop].FILENAME}</a><br /><span class="gensmall">{ if $attachrow[attachrowloop].S_IN_MESSAGE }{$L_PM}: { else }{$L_TOPIC}: { /if }<a href="{$attachrow[attachrowloop].U_VIEW_TOPIC}">{$attachrow[attachrowloop].TOPIC_TITLE}</a></span></td>
		<td class="gensmall" style="padding: 4px;" align="center" valign="middle" nowrap="nowrap">&nbsp;{$attachrow[attachrowloop].POST_TIME}&nbsp;</td>
		<td class="gen" style="padding: 4px;" align="center" valign="middle" nowrap="nowrap">{$attachrow[attachrowloop].SIZE}</td>
		<td class="gen" style="padding: 4px;" align="center">{$attachrow[attachrowloop].DOWNLOAD_COUNT}</td>
		<td style="padding: 4px;" align="center" valign="middle"><input type="checkbox" name="attachment[{$attachrow[attachrowloop].ATTACH_ID}]" value="1" /></td>
	</tr>
	{ /section }

	<tr> 
		<td class="cat" colspan="6"><div style="float:left"><span class="gensmall">{$L_SORT_BY}: </span><select name="sk">{$S_SORT_OPTIONS}</select> <select name="sd">{$S_ORDER_SELECT}</select>&nbsp;<input class="btnlite" type="submit" name="sort" value="{$L_SORT}" /></div><div style="float:right"><input class="btnlite" type="submit" name="delete" value="{$L_DELETE_MARKED}" />&nbsp;</div></td>
	</tr>
</table>

<div class="nav" style="float:left">{$PAGE_NUMBER}</div><div style="float:right"><b class="gensmall"><a href="javascript:marklist('ucp', true);">{$L_MARK_ALL}</a> :: <a  href="javascript:marklist('ucp', false);">{$L_UNMARK_ALL}</a></b>{ if $PAGINATION }><b><a href="javascript:jumpto();">{$L_GOTO_PAGE}</a> { if $PREVIOUS_PAGE }<a href="{$PREVIOUS_PAGE}">{$L_PREVIOUS}</a>&nbsp;&nbsp;{ /if }{$PAGINATION}{ if $NEXT_PAGE }&nbsp;&nbsp;<a href="{$NEXT_PAGE}">{$L_NEXT}</a>{ /if }</b>{ /if }</div>
{ else }

<table class="tablebg" width="100%" cellspacing="1">
	<tr>
		<th height="28">{$L_TITLE}</th>
	</tr>
	<tr class="row1">
		<td height="25" align="center"><b class="genmed">{$L_UCP_NO_ATTACHMENTS}</b></td>
	</tr>
</table>

{ /if }
<br />
{ include file='modules/Control_Panel/ucp_footer.html' }