{php} OpenTable(); {/php}

<table class="tablebg" width="100%" cellspacing="1">
	<tr>
		<th nowrap="nowrap" width="5%">#</th>
		<th nowrap="nowrap" width="5%">Verison</th>
		<th nowrap="nowrap" width="20%">Server</th>
		<th nowrap="nowrap" width="20%">Address</th>
		<th nowrap="nowrap" width="20%">Registration / Page</th>
		<th nowrap="nowrap" width="15%">Status</th>
		<th nowrap="nowrap" width="15%">Ping</th>
	</tr>

	{section name=serverloop loop=$server}

	{ if $smarty.section.serverloop.rownum is even }
	<tr style="height:32px;" class="row2">
	{ else }
	<tr style="height:32px;" class="row1">
	{ /if }

		<td class="gen" align="center">&nbsp;{$smarty.section.serverloop.rownum}&nbsp;</td>
		<td class="gen" align="center"><strong>0.{ $server[serverloop].VERSION }</strong></td>
		<td class="gen" align="center">{ $server[serverloop].SERVER }</td>
		<td class="gen" align="center"><strong>{ $server[serverloop].ADDRESS }</strong></td>
		<td class="gen" align="center">{ if $server[serverloop].PAGE }<a href="{ $server[serverloop].PAGE }">Click here</a>{ /if }</td>
		<td class="gen" align="center"><img src="{ $server[serverloop].STATUS } " alt="" /><br /></td>
		{*<td class="gen" align="center">{ if $server[serverloop].STATUS }<img src="modules/Server_Status/images/yes.gif" alt="" /><br />Active{ else }<img src="modules/Server_Status/images/no.gif" alt="" /><br /><span style="color: #990000">Unactive</span> { /if }</td>*}

		<td class="gen" align="center">Coming Soon</td>

	</tr>
	{ /section }
	<tr>
		<th colspan="7">[ <a href="javascript:history.go(-1)">Go Back</a> ]</th>
	</tr>

</table>

{php} CloseTable(); {/php}