{if $S_SHOW_PM_BOX && $S_POST_ACTION }
	<form action="{$S_POST_ACTION}" method="post" name="post"{$S_FORM_ENCTYPE}>
	<table class="tablebg" width="100%" cellspacing="1">
		<tr>
			<th>{$L_PM_TO}</th>
		</tr>
		<tr>
			<td class="row1"><b class="genmed">{$L_USERNAME}:</b></td>
		</tr>
		<tr>
			<td class="row2"><input class="post" type="text" name="username" size="20" maxlength="40" value="" />&nbsp;<input class="post" type="submit" name="add_to" value="{$L_ADD}" /></td>
		</tr>
	{if $S_ALLOW_MASS_PM }
		<tr>
			<td class="row1"><b class="genmed">{$L_USERNAMES}:</b></td>
		</tr>
		<tr>
			<td class="row2"><textarea name="username_list" rows="5" cols="22"></textarea><br />
				<ul class="nav" style="margin: 0px; padding: 0px; list-style-type: none; line-height: 175%;">
					<li>&#187; <a href="{$U_SEARCH_USER}" onclick="window.open('{$U_SEARCH_USER}', '_phpbbsearch', 'HEIGHT=500,resizable=yes,scrollbars=yes,WIDTH=740');return false">{$L_FIND_USERNAME}</a></li>
				</ul>
			</td>
		</tr>
	{ /if }
	{if $S_GROUP_OPTIONS }
		<tr>
			<td class="row1"><b class="genmed">{$L_USERGROUPS}:</b></td>
		</tr>
		<tr>
			<td class="row2"><select name="group_list[]" multiple="true" size="5" style="width:150px">{$S_GROUP_OPTIONS}</select></td>
		</tr>
	{ /if }
	{if $S_ALLOW_MASS_PM }
		<tr>
			<td class="row1"><div style="float:left">&nbsp;<input class="post" type="submit" name="add_bcc" value="{$L_ADD_BCC}" />&nbsp;</div><div style="float:right">&nbsp;<input class="post" type="submit" name="add_to" value="{$L_ADD_TO}" />&nbsp;</div></td>
		</tr>
	{ /if }
	</table>
	<div style="padding: 2px;"></div>
{ /if }

<table class="tablebg" width="100%" cellspacing="1">
	<tr>
		<th>{$L_OPTIONS}</th>
	</tr>
	{section name=ucp_sectionloop loop=$ucp_section}
	<tr>
		{ if $ucp_section[ucp_sectionloop].S_SELECTED }
		<td class="row1"><b class="nav">{$ucp_section[ucp_sectionloop].L_TITLE}</b>

			<ul class="nav" style="margin: 0px; padding: 0px; list-style-type: none; line-height: 175%;">
			{section name=ucp_subsectionloop loop=$ucp_subsection}
			<li>&#187; { if $ucp_subsection[ucp_subsectionloop].S_SELECTED }<b>{$ucp_subsection[ucp_subsectionloop].L_TITLE}</b>{ else }<a href="{$ucp_subsection[ucp_subsectionloop].U_TITLE}">{$ucp_subsection[ucp_subsectionloop].L_TITLE}</a>{ /if }</li>
			{ /section }
			</ul>

		{ else }
		<td class="row2" nowrap="nowrap" onmouseover="this.className='row1'" onmouseout="this.className='row2'" onclick="location.href='{$ucp_section[ucp_sectionloop].U_TITLE}'"><a class="nav" href="{$ucp_section[ucp_sectionloop].U_TITLE}">{$ucp_section[ucp_sectionloop].L_TITLE}</a>
		{ /if }
		</td>
	</tr>
	{ /section }
</table>

<div style="padding: 2px;"></div>

{ if $S_SHOW_COLOUR_LEGEND }
<table class="tablebg" width="100%" cellspacing="1" cellpadding="0">
	<tr>
		<th colspan="2">{$L_MESSAGE_COLOURS}</th>
	</tr>
	{section name=pm_colour_infoloop loop=$pm_colour_info}
	<tr>
		{ if !$pm_colour_info[pm_colour_infoloop].IMG }
			<td class="row1 {$pm_colour_info[pm_colour_infoloop].CLASS}" width="5"><img src="images/spacer.gif" width="5" alt="{$pm_colour_info[pm_colour_infoloop].LANG}" border="0" /></td>
		{ else }
			<td class="row1" width="25" align="center">{$pm_colour_info[pm_colour_infoloop].IMG}</td>
		{ /if }
		<td class="row1"><span class="genmed">{$pm_colour_info[pm_colour_infoloop].LANG}</span></td>
	</tr>
	{ /section }
</table>

<div style="padding: 2px;"></div>
{ /if }

<table class="tablebg" width="100%" cellspacing="1">
	<tr>
		<th>{$L_FRIENDS}</th>
	</tr>
	<tr>
		<td class="row1" align="center">
		
			<b class="genmed" style="color:green">{$L_FRIENDS_ONLINE}</b>

			<ul class="nav" style="margin: 0px; padding: 0px; list-style-type: none; line-height: 175%;">
			{section name=friends_onlineloop loop=$friends_online}
				<li><a href="{$friends_online[friends_onlineloop].U_PROFILE}">{$friends_online[friends_onlineloop].USERNAME}</a>
				{ if $S_SHOW_PM_BOX }
					&nbsp;[ <input class="post" type="submit" name="add_to[{$friends_online[friends_onlineloop].USER_ID}]" value="{$L_ADD}" /> ]
				{ /if }
				</li>
			{sectionelse}
			<li>{$L_NO_FRIENDS_ONLINE}</li>
			{ /section }
			</ul>

			<hr />

			<b class="genmed" style="color:red">{$L_FRIENDS_OFFLINE}</b>

			<ul class="nav" style="margin: 0px; padding: 0px; list-style-type: none; line-height: 175%;">
			{section name=friends_offlineloop loop=$friends_offline}
			<li><a href="{$friends_offline[friends_offlineloop].U_PROFILE}">{$friends_offline[friends_offlineloop].USERNAME}</a>
				{ if $S_SHOW_PM_BOX }
					&nbsp;[ <input class="post" type="submit" name="add_to[{$friends_offline[friends_offlineloop].USER_ID}]" value="{$L_ADD}" /> ]
				{ /if }
			{sectionelse}
			<li>{$L_NO_FRIENDS_OFFLINE}</li>
			{ /section }
			</ul>

		</td>
	</tr>
</table>