{ include file='head.html' }
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<link rel="stylesheet" href="/themes/viperal/style/style.css" type="text/css" />
<table class="tablebg" width="100%" cellpadding="5" cellspacing="1">
	<tr>
		<th colspan="2">Event Detail</th>
	</tr>
	<tr class="row1">
		<td align="center" colspan="2"><strong>{ $CAL_TITLE }</strong></th>
	</tr>
	<tr class="row2">
		<td>Starts</td>
		<td>{ $CAL_START_TIME }</td>
	</tr>
	<tr class="row2">
		<td>Ends</td>
		<td>{ $CAL_END_TIME }</td>
	</tr>
	<tr>
		<th colspan="2">Description</th>
	</tr>
	<tr class="row2">
		<td colspan="2">{ $CAL_DESCRIPTION }</th>
	</tr>

</table>