{php} OpenTable(); {/php}

	{* $Id: report_body.html,v 1.5 2004/05/26 19:43:15 acydburn Exp $ *}

<form method="post" action="{$S_REPORT_ACTION}" name="report">
<table class="tablebg" width="100%" cellspacing="1">
<tr>
	<th colspan="2">{ if $S_REPORT_POST }{$L_REPORT_POST}{ else }{$L_REPORT_MESSAGE}{ /if }</th>
</tr>
<tr>
	<td class="row3" colspan="2"><span class="gensmall">{ if $S_REPORT_POST }{$L_REPORT_POST_EXPLAIN}{ else }{$L_REPORT_MESSAGE_EXPLAIN}{ /if }</span></td>
</tr>
<tr>
	<td class="row1" width="22%"><b class="gen">{$L_REASON}:</b></td>
	<td class="row2" width="78%"><select name="reason_id">
	{section name=reasonloop loop=$reason}<option value="{$reason[reasonloop].ID}"{ if $reason[reasonloop].S_SELECTED } selected="selected"{ /if }>{$reason[reasonloop].DESCRIPTION}</option>{ /section }</select></td>
</tr>
{ if $S_CAN_NOTIFY }
<tr>
	<td class="row1"><span class="gen"><b>{$L_REPORT_NOTIFY}:</b></span><br /><span class="gensmall">{$L_REPORT_NOTIFY_EXPLAIN}</span></td>
	<td class="row2"><span class="gen"><input type="radio" name="notify" value="1" { if $S_NOTIFY }checked="checked" { /if }/>{$L_YES} &nbsp;<input type="radio" name="notify" value="0" { if !$S_NOTIFY }checked="checked" { /if }/>{$L_NO}</span></td>
</tr>
{ /if }
<tr>
	<td class="row1" valign="top"><span class="gen"><b>{$L_MORE_INFO}:</b></span><br /><span class="gensmall">{$L_CAN_LEAVE_BLANK}</span></td>
	<td class="row2"><textarea class="post" style="width:500px" name="report_text" rows="25" cols="40"  class="post">{$REPORT_TEXT}</textarea></td>
</tr>
<tr>
	<td class="phpbbcat" colspan="2" align="center"><input type="submit" name="submit" class="btnmain" value="{$L_SUBMIT}" />&nbsp;<input type="submit" name="cancel" class="btnlite" value="{$L_CANCEL}"></td>
</tr>
</table>
</form>

{php} CloseTable(); {/php}